<a href="https://colab.research.google.com/github/BalajiJadhav015/Python-Programs/blob/main/Python_programs_Bj1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1) List and Tuple (Null 1 Q1 to Q26) 
#2) Python programs using Functions (Null 2 Q27 to Q48)
#3) String programs (Null 3 Q49 to Q84)
#4) Variable, srting, int, float. (Null 4 Q85 to Q116)
#5) Python program using loop, dict, functions (Null 6 Q117 to Q136)
#6) Pattern program using Python (Null 5 Q137 to Q159)

## 1) List and Tuple (Null 1)

### Q1. Python Program to find the largest element in the list

In [ ]:
a = [4,5,8,9,1,2]
print(max(a))

9

### Q2. Python program to interchange first and last elements in a list.

In [ ]:
# without using swap function
a = [4,5,8,9,1,2]
a[0],a[-1] = a[-1],a[0]
print(a)

[2, 5, 8, 9, 1, 4]

### Q3. Python program to swap two elements in a list.

In [ ]:
def swaplist(newlist):
  size = len(newlist)

  temp = newlist[0]
  newlist[0] = newlist[size-1]
  newlist[size-1] = temp

  return newlist
a = [4,5,8,9,1,2]
print(swaplist(a))

[2, 5, 8, 9, 1, 4]

### Q4. Python program to Reverse a List.

In [ ]:
# using slicing method 
a = [4,5,8,9,1,2]
b = a[::-1]
print(a)
print(b)

[4, 5, 8, 9, 1, 2]
[2, 1, 9, 8, 5, 4]

In [ ]:
def reverse(lst):
  return [ ele for ele in reversed(lst)]

a = [4,5,8,9,1,2]
print(reverse(a))

[2, 1, 9, 8, 5, 4]

In [ ]:
def Reverse(lst):
  lst.reverse()
  return lst

a = [4,5,8,9,1,2]
print(Reverse(a))

[2, 1, 9, 8, 5, 4]

### Q5. Python program to count occurrences of an element in a list.

In [ ]:
# Directly using count function 
a = [2,4,5,6,6,3,9,9,9,8]
print(a.count(6))
print(a.count(9))

2
3

In [ ]:
# Define finction and then use count 
def countX(lst,x):
  count = 0
  for ele in lst:
    if (ele == x):
      count = count + 1
  return count

a = [2,4,5,6,6,3,9,9,9,8] 
x = 9
print('{} has occured {} times'.format(x, countX(a,x)))

9 has occured 3 times

In [ ]:
# Python code to count the number of occurrences
def countX(lst, x):
    return lst.count(x)
 
# Driver Code
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x, countX(lst, x)))

8 has occurred 5 times

In [ ]:
from collections import Counter

# declaring the list
l = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

# driver program
x = 3
d = Counter(l)
print('{} has occurred {} times'.format(x, d[x]))

3 has occurred 2 times

### Q6. Python program to find the sum of elements in a list.

In [ ]:
a = [2,4,5,6,6,3,9,9,9,8] 
print(sum(a))

61

In [ ]:
total = 0
a = [2,4,5,6,6,3,9,9,9,8]

for ele in range(0, len(a)):
  total = total + a[ele]

print('sum of all elements given in list: ',total)

sum of all elements given in list:  61

In [ ]:
# Python program to find sum of elements in list
total = 0
ele = 0

# creating a list
list1 = [11, 5, 17, 18, 23]

# Iterate each element in list
# and add them in variable total
while(ele < len(list1)):
	total = total + list1[ele]
	ele += 1
	
# printing total value
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [ ]:
# Python program to find sum of all
# elements in list using recursion

# creating a list
list1 = [11, 5, 17, 18, 23]

# creating sum_list function
def sumOfList(list, size):
 if (size == 0):
	 return 0
 else:
	 return list[size - 1] + sumOfList(list, size - 1)

# Driver code	
total = sumOfList(list1, len(list1))

print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

### Q7. Python program to Multiply all numbers in the list.

In [ ]:
def multiplylist(mylist):
  result = 1
  for x in mylist:
    result = result*x
  return result

a = [2,4,5,6,6,3,9,9,9,8]
print(multiplylist(a))

25194240

In [ ]:
import numpy
a = [2,4,5,6,6,3,9,9,9,8]
result = numpy.prod(a)
print(result)

25194240

In [ ]:
from functools import reduce 
a = [2,4,5,6,6,3,9,9,9,8]
result = reduce((lambda x,y: x*y),a)
print(result)

25194240

### Q8. Python program to find the smallest and largest number in a list (Without min-max function)

In [ ]:
a = [2,4,5,6,6,3,9,9,9,8]
a.sort()
print(a)

[2, 3, 4, 5, 6, 6, 8, 9, 9, 9]

In [ ]:
max = a[-1]
min = a[0]
print(max)
print(min)

9
2

### Q9. Python Program to find the area of a circle.

In [ ]:
def areaofcircle(a):
  area = 3.142 * a**2
  return area

a=5
print(areaofcircle(a))

78.55

### Q10. Take inputs from the user to make a list. Again take one input from the user and search it in the list and delete that element, if found. Iterate over a list using for loop.

In [ ]:
numbers = []
x = int(input("Enter number of elements in list ")) # how many numbers you want in list
for i in range(x):
  numbers.append(int(input()))
findNum = int(input("The number to be deleated is "))

i=0
for element in numbers:
  if (element == findNum):
    numbers.pop(i)
    x= x-1
    i= i-1
  i= i+1

print(numbers)

Enter number of elements in list 5
2
5
6
8
9
The number to be deleated is 8
[2, 5, 6, 9]

### Q11. You are given a list of integer elements. Make a new list that will store a square of elements of the previous list. (With and without list comprehension)

In [ ]:
a = [2,4,5,6,6,3,9,9,9,8]
result = [ i**2 for i in a]
print(result)

[4, 16, 25, 36, 36, 9, 81, 81, 81, 64]

In [ ]:
a = [2,4,5,6,6,3,9,9,9,8]
b = []
for i in a:
  b.append(i**2)

print(b)

[4, 16, 25, 36, 36, 9, 81, 81, 81, 64]

### 12. WAP to create two lists, one containing all even numbers and the other containing all odd numbers between 0 to 151

In [ ]:
# n= range (0, 152)
a= []
b= []
for n in range(152):
  if n%2 == 0:
    a.append(n)
  else:
    b.append(n)
print(a)
print(b)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]

### 13.Python program to Count Even and Odd numbers in a List.

In [ ]:
a = [2,4,5,6,6,3,9,9,9,8]
# using for loop
even_count, odd_count = 0,0
for num in a:
  if num %2 == 0:
    even_count += 1
  else:
    odd_count +=1
print('Even numbers in the list ', even_count)
print('Odd numbers in the list ', odd_count)

Even numbers in the list  5
Odd numbers in the list  5

In [ ]:
# using while loop
a = [2,4,5,6,6,3,9,9,9,8]
even_count, odd_count = 0,0
num = 0
while (num < len(a)):
  if a[num] %2 ==0:
    even_count += 1
  else:
    odd_count += 1
  num += 1
print('Even numbers in the list ', even_count)
print('Odd numbers in the list ', odd_count)

Even numbers in the list  5
Odd numbers in the list  5

In [ ]:
# list of numbers
list1 = [10, 21, 4, 45, 66, 93, 11]

odd_count = len(list(filter(lambda x: (x%2 != 0) , list1)))

# we can also do len(list1) - odd_count
even_count = len(list(filter(lambda x: (x%2 == 0) , list1)))

print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [ ]:
# Python program to print odd Numbers in a List

# list of numbers
list1 = [10, 21, 4, 45, 66, 93, 11]

only_odd = [num for num in list1 if num % 2 == 1]
odd_count = len(only_odd)

print("Even numbers in the list: ", len(list1) - odd_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

### 14. WAP to make new lists, containing only numbers which are divisible by 4, 6, 8, 10, 3, 5, 7, and 9 in separate lists for range(0,151)

In [ ]:
a =[]
b =[]
c =[]
d =[]
e =[]
f =[]
g =[]
h =[]
for n in range(152):
  if n %4 == 0:
    a.append(n)
    continue
  elif n%6 == 0:
    b.append(n)
    continue
  elif n%8 == 0:
    c.append(n)
    continue
  elif n%10 == 0:
    d.append(n)
    continue
  elif n%3 == 0:
    e.append(n)
    continue
  elif n%5 == 0:
    f.append(n)
    continue
  elif n%7 == 0:
    g.append(n)
    continue
  elif n%9 == 0:
    h.append(n)
    continue
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148]
[6, 18, 30, 42, 54, 66, 78, 90, 102, 114, 126, 138, 150]
[]
[10, 50, 70, 110, 130]
[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99, 105, 111, 117, 123, 129, 135, 141, 147]
[5, 25, 35, 55, 65, 85, 95, 115, 125, 145]
[7, 14, 49, 77, 91, 98, 119, 133]
[]

### 15. From a list containing ints, strings, and floats, make three lists to store them separately.

In [ ]:
a = [ 10, 15, 'data', 'DL', 11.5, 15.8]
b =[]
c =[]
d =[]
for i in a:
  if type(i) == int:
    b.append(i)
  elif type(i) == str:
    c.append(i)
  elif type(i) == float:
    d.append(i)
print(a)
print(b)
print(c)
print(d)

[10, 15, 'data', 'DL', 11.5, 15.8]
[10, 15]
['data', 'DL']
[11.5, 15.8]

### Q16. Write a Python program to append a list to the second list.

In [ ]:
a = [1,2,3,4]
b = [5,6,7,8]
c = a+b
print(c)
# reference: https://www.w3resource.com/python-exercises/list/python-data-type-list-exercise-24.php

[1, 2, 3, 4, 5, 6, 7, 8]

### Q17. Write a Python program to find the third-largest number in a list.

In [ ]:
a = [1,5,7,8,9,4,6,11,15]
a.sort()
print(a)
print(a[-3])

[1, 4, 5, 6, 7, 8, 9, 11, 15]
9

In [ ]:
#If you are not allowed to use sort, try this.
l=[5,8,2,9,4,10,7]
for j in range(3):
  max=l[0]
  for i in l:
    if i>max: max=i
  if j==2: print(max)
  else: l.remove(max)
# reference: https://www.sololearn.com/Discuss/1310755/find-the-third-largest-number-in-a-list-in-python

8

In [ ]:
#1
num = [2,3,7,4,5,6,10,11,120]

#2
largest_num = num[0]
second_largest_num = num[0]
third_largest_num = num[0]

#3
for i in num :
    #4
    if i > largest_num :
        third_largest_num = second_largest_num
        second_largest_num = largest_num
        largest_num = i
    #5
    elif i > second_largest_num :
        third_largest_num = second_largest_num
        second_largest_num = i
    #6
    elif i > third_largest_num :
        third_largest_num = i

#7
print("Third largest number of the list is {}".format(third_largest_num))
# reference : https://www.codevscolor.com/python-find-third-largest-number-in-list

Third largest number of the list is 10

### Q17. Write a Python program to get the frequency of the elements in a list.

In [ ]:
a = [2,4,5,6,6,3,9,9,9,8]
freq = {}
for i in a:
  if i in freq:
    freq[i] += 1
  else:
    freq[i] = 1
print(freq)
# reference: https://www.tutorialspoint.com/list-frequency-of-elements-in-python

{2: 1, 4: 1, 5: 1, 6: 2, 3: 1, 9: 3, 8: 1}

In [ ]:
import collections
my_list = [10,10,10,10,20,20,20,20,40,40,50,50,30]
print("Original List : ",my_list)
ctr = collections.Counter(my_list)
print("Frequency of the elements in the List : ",ctr)

Original List :  [10, 10, 10, 10, 20, 20, 20, 20, 40, 40, 50, 50, 30]
Frequency of the elements in the List :  Counter({10: 4, 20: 4, 40: 2, 50: 2, 30: 1})

In [ ]:
import pandas as pd

test_list = [3,5,4,3,3,4,5,2]

df1 = pd.Series(test_list).value_counts().sort_index().reset_index().reset_index(drop=True)
df1.columns = ['Element', 'Frequency']

# Original list
print(f"The original list : {test_list}" )

# printing result
print(f"The list frequency of elements is :\n {df1.to_string(index=False)}" )

The original list : [3, 5, 4, 3, 3, 4, 5, 2]
The list frequency of elements is :
  Element  Frequency
       2          1
       3          3
       4          2
       5          2

### Q18. Write a Python program to check whether a list contains a sublist.

In [ ]:
test_list = [5,6,3,8,2,1,7,1]
print('The original list : '+ str(test_list))
sub_list = [8,2,1]
res = False
for idx in range (len(test_list) - len(sub_list)+1):
  if test_list[idx : idx + len(sub_list)] == sub_list:
    res = True
    break
print('Is sublist present in list? : ' + str(res))

The original list : [5, 6, 3, 8, 2, 1, 7, 1]
Is sublist present in list? : True

In [ ]:
# Python3 code to demonstrate working of
# Check for Sublist in List
# Using any() + list slicing + generator expression

# initializing list
test_list = [5, 6, 3, 8, 2, 1, 7, 1]

# printing original list
print("The original list : " + str(test_list))

# initializing sublist
sublist = [8, 2, 1]

# Check for Sublist in List
# Using any() + list slicing + generator expression
res = any(test_list[idx : idx + len(sublist)] == sublist
		for idx in range(len(test_list) - len(sublist) + 1))
		
# printing result
print("Is sublist present in list ? : " + str(res))

The original list : [5, 6, 3, 8, 2, 1, 7, 1]
Is sublist present in list ? : True

### Q19. Write a Python program to generate all sublists of a list.

In [ ]:
def sub_lists(l):
  lists = [[]] 
  for i in range(len (l) + 1):
    for j in range(i):
      lists.append(l[j:i])
  return lists

a = [2,4,5,6,6,3,9,9,9,8] 
print(sub_lists(a))

[[], [2], [2, 4], [4], [2, 4, 5], [4, 5], [5], [2, 4, 5, 6], [4, 5, 6], [5, 6], [6], [2, 4, 5, 6, 6], [4, 5, 6, 6], [5, 6, 6], [6, 6], [6], [2, 4, 5, 6, 6, 3], [4, 5, 6, 6, 3], [5, 6, 6, 3], [6, 6, 3], [6, 3], [3], [2, 4, 5, 6, 6, 3, 9], [4, 5, 6, 6, 3, 9], [5, 6, 6, 3, 9], [6, 6, 3, 9], [6, 3, 9], [3, 9], [9], [2, 4, 5, 6, 6, 3, 9, 9], [4, 5, 6, 6, 3, 9, 9], [5, 6, 6, 3, 9, 9], [6, 6, 3, 9, 9], [6, 3, 9, 9], [3, 9, 9], [9, 9], [9], [2, 4, 5, 6, 6, 3, 9, 9, 9], [4, 5, 6, 6, 3, 9, 9, 9], [5, 6, 6, 3, 9, 9, 9], [6, 6, 3, 9, 9, 9], [6, 3, 9, 9, 9], [3, 9, 9, 9], [9, 9, 9], [9, 9], [9], [2, 4, 5, 6, 6, 3, 9, 9, 9, 8], [4, 5, 6, 6, 3, 9, 9, 9, 8], [5, 6, 6, 3, 9, 9, 9, 8], [6, 6, 3, 9, 9, 9, 8], [6, 3, 9, 9, 9, 8], [3, 9, 9, 9, 8], [9, 9, 9, 8], [9, 9, 8], [9, 8], [8]]

In [ ]:
from itertools import combinations
def sub_lists(my_list):
	subs = []
	for i in range(0, len(my_list)+1):
	  temp = [list(x) for x in combinations(my_list, i)]
	  if len(temp)>0:
	    subs.extend(temp)
	return subs


l1 = [10, 20, 30, 40]
l2 = ['X', 'Y', 'Z']
print("Original list:")
print(l1)
print("S")
print(sub_lists(l1))
print("Sublists of the said list:")
print(sub_lists(l1))
print("\nOriginal list:")
print(l2)
print("Sublists of the said list:")
print(sub_lists(l2))
# Reference : https://www.w3resource.com/python-exercises/list/python-data-type-list-exercise-33.php

Original list:
[10, 20, 30, 40]
S
[[], [10], [20], [30], [40], [10, 20], [10, 30], [10, 40], [20, 30], [20, 40], [30, 40], [10, 20, 30], [10, 20, 40], [10, 30, 40], [20, 30, 40], [10, 20, 30, 40]]
Sublists of the said list:
[[], [10], [20], [30], [40], [10, 20], [10, 30], [10, 40], [20, 30], [20, 40], [30, 40], [10, 20, 30], [10, 20, 40], [10, 30, 40], [20, 30, 40], [10, 20, 30, 40]]

Original list:
['X', 'Y', 'Z']
Sublists of the said list:
[[], ['X'], ['Y'], ['Z'], ['X', 'Y'], ['X', 'Z'], ['Y', 'Z'], ['X', 'Y', 'Z']]

In [ ]:
# Python program to print all  
# sublist from a given list  
# function to generate all the sub lists 
def displaysublist(A): 
   # store all the sublists  
   B = [[ ]] 
      
   # first loop  
   for i in range(len(A) + 1):   
      # second loop  
      for j in range(i + 1, len(A) + 1):         
         # slice the subarray  
         sub = A[i:j] 
         B.append(sub) 
   return B 
  
# driver code 
A=list()
n=int(input("Enter the size of the First List ::"))
print("Enter the Element of First List ::")
for i in range(int(n)):
   k=int(input(""))
   A.append(k)
print("SUBLIST IS ::>",displaysublist(A))
# Reference : https://www.tutorialspoint.com/python-program-to-print-all-sublists-of-a-list

Enter the size of the First List ::5
Enter the Element of First List ::
2
5
8
9
6
SUBLIST IS ::> [[], [2], [2, 5], [2, 5, 8], [2, 5, 8, 9], [2, 5, 8, 9, 6], [5], [5, 8], [5, 8, 9], [5, 8, 9, 6], [8], [8, 9], [8, 9, 6], [9], [9, 6], [6]]

### Q20. Write a Python program to find common items from two lists.

In [ ]:
# using for loop 
def common_member(a,b):
  result = [ i for i in a if i in b]
  return result

a = [7,8,5,6,4,3]
b = [8,9,5,0,1,2]

print('The common elements in two lists are ')
print(common_member(a,b))

The common elements in two lists are
[8, 5]

In [ ]:
def common_member(a,b):
  a_set = set(a)
  b_set = set(b)
  if (a_set & b_set):
    print(a_set & b_set)
  else:
    print('No common elements')

a = [7,8,5,6,4,3]
b = [8,9,5,0,1,2]
common_member(a,b)

{8, 5}

In [ ]:
# Python program to find common elements in
# both sets using intersection function in
# sets


# function
def common_member(a, b):
	a_set = set(a)
	b_set = set(b)
	
	# check length
	if len(a_set.intersection(b_set)) > 0:
		return(a_set.intersection(b_set))
	else:
		return("no common elements")
	

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_member(a, b))

a =[1, 2, 3, 4, 5]
b =[6, 7, 8, 9]
print(common_member(a, b))

{5}
no common elements

### Q21. How to sort a list in ascending and descending order without using the sort function?

In [ ]:
# In decending order
a = [2,4,5,6,6,3,9,9,9,8]
for i in range(len(a)):
  for j in range(i+1, len(a)):
    if a[i] < a[j]:
      a[i],a[j] = a[j],a[i]
print(a)

[9, 9, 9, 8, 6, 6, 5, 4, 3, 2]

In [ ]:
# In ascending order
a = [2,4,5,6,6,3,9,9,9,8]
for i in range(len(a)):
  for j in range(i+1, len(a)):
    if a[i] > a[j]:
      a[i],a[j] = a[j],a[i]
print(a)
# refrence : https://www.codegrepper.com/code-examples/python/how+to+sort+list+in+python+without+sort+function

[2, 3, 4, 5, 6, 6, 8, 9, 9, 9]

In [ ]:
my_list = [-15, -26, 15, 1, 23, -64, 23, 76]
new_list = []

while my_list:
    min = my_list[0]  
    for x in my_list: 
        if x < min:
            min = x
    new_list.append(min)
    my_list.remove(min)    

print(new_list)

[-64, -26, -15, 1, 15, 23, 23, 76]

In [ ]:
my_list = [-15, -26, 15, 1, 23, -64, 23, 76]
new_list = []

while my_list:
    min = my_list[0]  
    for x in my_list: 
        if x > min:
            min = x
    new_list.append(min)
    my_list.remove(min)    

print(new_list)
# Reference : https://www.edureka.co/community/50276/sort-numbers-without-using-built-functions-other-function

[76, 23, 23, 15, 1, -15, -26, -64]

### Q22. How to sort a tuple?

In [ ]:
# using sorted function
a = (2,4,5,6,6,3,9,9,9,8)
result = sorted(a)
result = tuple(result)
print(result)

(2, 3, 4, 5, 6, 6, 8, 9, 9, 9)

In [ ]:
# for descending order
aTuple = (2, 5, 8, 1, 9, 3, 7)
result = sorted(aTuple, reverse=True)
result = tuple(result)
print('Sorted Tuple :', result)
# reference : https://www.tutorialkart.com/python/python-sort-a-tuple/#:~:text=To%20sort%20a%20Tuple%20in,to%20tuple%20using%20tuple().

Sorted Tuple : (9, 8, 7, 5, 3, 2, 1)

### Q23. Write a Python program to convert a list of multiple integers into a single integer

In [ ]:
a = [12,14,16]
for i in a:
  print(i, end ='')

121416

In [ ]:
# using join 
def convert(list):
  s = [str(i) for i in list]
  res = int (''.join(s))
  return(res)

a = [12,14,16]
print(convert(a))

121416

In [ ]:
# Python3 program to convert a list
# of integers into a single integer
def convert(list):
	
	# Converting integer list to string list
	# and joining the list using join()
	res = int("".join(map(str, list)))
	
	return res

# Driver code
list = [1, 2, 3]
print(convert(list))

123

In [ ]:
# Python3 program to convert a list
# of integers into a single integer
def convert(list):
	
	# multiply each integer element with its
	# corresponding power and perform summation

	res = sum(d * 10**i for i, d in enumerate(list[::-1]))
	
	return(res)

# Driver code
list = [1, 2, 3]
print(convert(list))

123

### Q24. How to check whether the list is empty or not?

In [ ]:
def enquiry(a):
  if len(a) == 0:
    return 0
  else: 
    return 1 

a = [1,2,5,8]
if enquiry(a):
  print('The list is not empty')
else:
  print('List is empty')

The list is not empty

In [ ]:
def enquiry(a):
  if not a:
    return 1
  else:
    return 0

a = ['svsvsv']
if enquiry(a):
  print('The list is empty')
else:
  print('The list is not empty')

The list is not empty

In [ ]:
# non pythnoic way
# Numpythonic way to check emptiness
# Use of size
import numpy
def Enquiry(lis1):
	return(numpy.array(lis1))
	
# Driver Code
lis1 = []
if Enquiry(lis1).size:
	print("Not Empty")
else:
	print("Empty")

Empty

In [ ]:
# Numpythonic way to check emptiness
# Use of size
import numpy
def Enquiry(lis1):
	return(numpy.array(lis1))
	
# Driver Code
lis1 = [0, ]
if Enquiry(lis1).size:
	print("Not Empty")
else:
	print("Empty")

Not Empty

### Q25. How to concatenate two lists?

In [ ]:
a = [1,3,5,7,9]
b = [2,4,6,8,10]
for i in b:
  a.append(i)

print('Concanate list using naive method : ' +str(a))

Concanate list using naive method : [1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [ ]:
# using '+' operator
a = [1,3,5,7,9]
b = [2,4,6,8,10]
a = a+b
print('Concnadate using + operator' +str(a))

Concnadate using + operator[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [ ]:
# Python3 code to demonstrate list
# concatenation using list comprehension

# Initializing lists
test_list1 = [1, 4, 5, 6, 5]
test_list2 = [3, 5, 7, 2, 5]

# using list comprehension to concat
res_list = [y for x in [test_list1, test_list2] for y in x]

# Printing concatenated list
print ("Concatenated list using list comprehension: "
									+ str(res_list))

Concatenated list using list comprehension: [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [ ]:
# Python3 code to demonstrate list
# concatenation using list.extend()

# Initializing lists
test_list3 = [1, 4, 5, 6, 5]
test_list4 = [3, 5, 7, 2, 5]

# using list.extend() to concat
test_list3.extend(test_list4)

# Printing concatenated list
print ("Concatenated list using list.extend() : "
							+ str(test_list3))

Concatenated list using list.extend() : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [ ]:
# Python3 code to demonstrate list
# concatenation using * operator

# Initializing lists
test_list1 = [1, 4, 5, 6, 5]
test_list2 = [3, 5, 7, 2, 5]

# using * operator to concat
res_list = [*test_list1, *test_list2]

# Printing concatenated list
print ("Concatenated list using * operator : "
							+ str(res_list))

Concatenated list using * operator : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

### Q26. How to find the occurrences of an element in the python list?

In [ ]:
def countX(a,x):
  count = 0
  for ele in a:
    if(ele == x):
      count = count+1
  return count

a = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occured {} times'.format (x, countX(a,x)))

8 has occured 5 times

##2) Python programs using Functions (Null 2)

### Q27. Python Program for Find largest prime factor of a number.

In [ ]:
import math 
def maxprimefactor (n):
  maxprime = -1
  while n% 2 == 0:
    maxprime = 2
    n >>= 1
  for i in range (3, int(math.sqrt(n)) + 1, 2):
    while n%i ==0:
      maxprime = i
      n = n/i
  if n > 2:
    maxprime = n
  return int(maxprime)

n= 17
print(maxprimefactor(n))
# Reference : geeks for geeks

17

In [ ]:
def Largest_Prime_Factor(n):
    return next(n // i for i in range(1, n) if n % i == 0 and is_prime(n // i))
def is_prime(m):
    return all(m % i for i in range(2, m - 1))
print(Largest_Prime_Factor(200))
# reference : https://www.w3resource.com/python-exercises/challenges/1/python-challenges-1-exercise-35.php

5

### Q28. Python Program for Product of unique prime factors of a number.

In [ ]:
def productprimefactor(n):
  product = 1
  for i in range (2, n+1):
    if (n%i == 0):
      isprime = 1

      for j in range (2, int(i/2 +1)):
        if (i%j ==0):
          isprime = 0
          break

      if (isprime):
        product = product*i

  return product

n = 44
print(productprimefactor(n))

22

In [ ]:
# Python program to find product of
# unique prime factors of a number

import math

def productPrimeFactors(n):
	product = 1
	
	# Handle prime factor 2 explicitly so that
	# can optimally handle other prime factors.
	if (n % 2 == 0):
		product *= 2
		while (n%2 == 0):
			n = n/2
			
	# n must be odd at this point. So we can
	# skip one element (Note i = i +2)
	for i in range (3, int(math.sqrt(n)), 2):
		# While i divides n, print i and
		# divide n
		if (n % i == 0):
			product = product * i
			while (n%i == 0):
				n = n/i
				
	# This condition is to handle the case when n
	# is a prime number greater than 2
	if (n > 2):
		product = product * n
		
	return product	
	
# main()
n = 44
print (int(productPrimeFactors(n)))

# Contributed by _omg
# Reference :https://www.geeksforgeeks.org/python-program-for-product-of-unique-prime-factors-of-a-number/

22

### Q29. Python Program to find Factorial of Number.

In [ ]:
# Recursive
def factorial(n):
  return 1 if (n==1 or n==0) else n* factorial(n-1);

n = 5;
print('Factorial of', n, 'is', factorial(n))

Factorial of 5 is 120

In [ ]:
# Iterative
def factorial(n):
  if n < 0:
    return 0
  elif n==0 or n==1:
    return 1
  else:
    fact = 1
    while (n > 1):
      fact *= n
      n -= 1
    return fact

n = 5 
print(factorial(n))

120

In [ ]:
# Python 3 program to find
# factorial of given number

def factorial(n):

	# single line to find factorial
	return 1 if (n==1 or n==0) else n * factorial(n - 1)


# Driver Code
num = 5
print ("Factorial of",num,"is",
	factorial(num))

# This code is contributed
# by Smitha Dinesh Semwal.

Factorial of 5 is 120

In [ ]:
# Python 3 program to find
# factorial of given number
import math

def factorial(n):
	return(math.factorial(n))


# Driver Code
num = 5
print("Factorial of", num, "is",
	factorial(num))

# This code is contributed by Ashutosh Pandit

Factorial of 5 is 120

### Q30. Python Program for Find sum of odd factors of a number.

In [ ]:
import math
def sumofoddfactors(n):
  res = 1
  while n % 2 == 0:
    n = n//2
  for i in range(3, int(math.sqrt(n)+1)):
    count = 0
    curr_sum = 1
    curr_term = 1
    while n%i == 0:
      count+=1
      n = n//i
      curr_term *= i
      curr_sum += curr_term
    res *= curr_sum

  if n>= 2:
    res *= (1+n)
  return res

n=30
print(sumofoddfactors(n))

24

### Q31. Python Program to Check if binary representation is a palindrome.

In [ ]:
def binarypalindrome(n):
  binary = bin(n)
  binary = binary[2:]
  return binary == binary [-1::-1]

if __name__ == '__main__':
  n = 10
print(binarypalindrome(n))

False

In [ ]:
# Python Program to Check Whether the Binary Equivalent of a Given Number is Palindrome
 
# take input the number user
x=int(input('Enter a number: '))
 
# converting to binary
y=int(bin(x)[2:])
 
# reversing the binary 
out=str(y)[::-1] 
 
print("The binary representation of number:", y)
 
# checking the palindrome
if int(out)==y:
    print("The binary representation of the number is a palindrome.")
else:
    print("The binary representation of the number is not a palindrome.")
# reference: https://www.tutsmake.com/python-check-binary-representation-of-given-number-is-palindrome-or-not/

Enter a number: 25
The binary representation of number: 11001
The binary representation of the number is not a palindrome.

### Q32. Python Program for Number of elements with odd factors in a given range.

In [ ]:
def countoddsquares(n,m):
  return int(m**0.5) - int((n-1)**0.5)

n= 5 
m=100
print('Count is',countoddsquares(n,m))
# reference : https://www.geeksforgeeks.org/python-program-for-number-of-elements-with-odd-factors-in-given-range/

Count is 8

### Q33. Python Program for Common Divisors of Two Numbers.

In [ ]:
a = 12
b = 24
n = 0
for i in range(1, min(a,b)+1):
  if a%i==b%i==0:
    n+=1
print(n)

6

In [ ]:
# with user input
num1 = int(input("ENTER FIRST NUMBER : "))
num2 = int(input("ENTER SECOND NUMBER : "))
divisor = 0
print("THE COMMON DIVISORS OF NUMBER ",num1," AND ",num2," ARE -")
for i in range(1,min(num1,num2)+1):
  if num1%i == num2%i == 0:
    divisor = i
    print(divisor)
#reference : https://www.codespeedy.com/find-common-divisors-of-two-numbers-using-python/

ENTER FIRST NUMBER : 12
ENTER SECOND NUMBER : 4
THE COMMON DIVISORS OF NUMBER  12  AND  4  ARE -
1
2
4

### Q34. Python Program to Check if a count of divisors is even or odd.

In [ ]:
import math
def countdivisior(n):
  count = 0
  for i in range(1, (int)(math.sqrt(n))+2):
    if (n%i == 0):
      if(n//i == i):
        count = count +1
      else:
        count = count+2
  if (count %2 == 0):
    print('Even')
  else:
    print('Odd')

print('The count of divisor :')
countdivisior(15)

The count of divisor :
Even

In [ ]:
# Python program for
# Efficient Solution to find
# find if count of divisors
# is even or odd

# Python program for
# Efficient Solution to find
# find if count of divisors
# is even or odd

def NumOfDivisor(n):
	if n < 1:
		return
	root_n = n**0.5
	
	# If n is a perfect square,
	# then it has odd divisors
	if root_n**2 == n:
		print("Odd")
	else:
		print("Even")
		
# Driver code	
if __name__ == '__main__':
	print("The count of divisor"+
		"of 10 is: ")
	NumOfDivisor(10)
	
# This code is contributed by Yt R
# reference : https://www.geeksforgeeks.org/python-program-for-check-if-count-of-divisors-is-even-or-odd/

The count of divisorof 10 is:
Even

### Q35. Python Program to Find the minimum sum of factors of a number.

In [ ]:
def findminsum(num):
  sum = 0
  i = 2
  while(i*i <= num):
    while(num%i == 0):
      sum += i
      num //= i
    i += 1
  sum += num
  return sum

num =12 
print(findminsum(num))
# reference: https://www.geeksforgeeks.org/find-minimum-sum-factors-number/

7

### Q36. Python Program to find Difference between sums of odd and even digits.

In [ ]:
#This can be easily solved using divisibility of 11.
#This condition is only satisfied if the number is divisible by 11. So check the number is divisible by 11 or not.
def isdiff(n):
  return (n%11 ==0)

n=1122336656
if (isdiff(n)):
  print('Yes')
else:
  print('No')

# reference: https://www.geeksforgeeks.org/python-program-for-difference-between-sums-of-odd-and-even-digits/

No

### Q37. Python Program for Largest and Smallest K digit number divisible by X.

In [ ]:
def ans(x,k):
  min = pow(10, k-1)
  if (min%x == 0):
    return min
  else:
    return ((min + x) - ((min + x)%x))

x = 83;
k = 5;
print(ans(x,k))

10043

### Q38.Python Program to calculate the area of a Tetrahedron.

In [ ]:
import math
def areaoftetrahedron(side):
  return (math.sqrt(3) * (side*side))

side = 3
print('Area of Tetrahedron = ', areaoftetrahedron(side))
# Reference :https://www.geeksforgeeks.org/program-to-calculate-area-of-a-tetrahedron/

Area of Tetrahedron =  15.588457268119894

### Q39. Python Program to Find the perimeter of a cylinder.

In [ ]:
def perimeter(diameter,height):
  return 2* (diameter + height)

diameter = 5
height = 10
print('Perimeter is', perimeter(diameter,height))

Perimeter is 30

### Q40. Python Program to Find the vertex, focus, and directrix of a parabola.

In [ ]:
def parabola(a,b,c):
  print("Vertex: (", (-b/(2*a)), ',', (((4*a*c) - (b*b)) / (4*a)),')')
  print("Focus: (", (-b/(2*a)), ',', (((4*a*c) - (b*b)+1) / (4*a)),')')
  print("Directrix: y=", (int)(c - ((b*b)+1)*4*a))

a= 5
b= 3
c= 2
parabola(a,b,c)

Vertex: ( -0.3 , 1.55 )
Focus: ( -0.3 , 1.6 )
Directrix: y= -198

### Q41. Python program to find the most occurring character and its count.

In [ ]:
import collections
s = "helloworld"
print(collections.Counter(s).most_common(1)[0])
# reference : https://stackoverflow.com/questions/4131123/finding-the-most-frequent-character-in-a-string

('l', 3)

### Q42. Python Program to Find the sum of even factors of a number.

In [ ]:
import math
def sumoffactors(n):
  if (n%2 != 0):
    return 0
  res = 1
  for i in range(2,(int)(math.sqrt(n)) +1):
    count = 0
    curr_sum = 1
    curr_term = 1
    while(n%i ==0):
      count = count+ 1
      n = n // i
      if ( i==2 and count ==1):
        curr_sum =0
      curr_term = curr_term *i
      curr_sum = curr_sum + curr_term
    res = res * curr_sum
  
  if (n>= 2):
    res = res *(1+n)
  return res 

n = 18
print(sumoffactors(n))
# reference : https://www.geeksforgeeks.org/python-program-for-find-sum-of-even-factors-of-a-number/

26

### Q43. Python Program to Check if all digits of a number divide it.

In [ ]:
def checkdivisibility(n,digit):
  return (digit != 0 and n%digit == 0)

def alldigitdivive(n):
  temp = n
  while (temp > 0):
    digit = temp%10
    if (checkdivisibility(n,digit) == False):
      return False
    temp = temp // 10
  return True

n= 120
if (alldigitdivive(n)):
  print('Yes')
else:
  print('No')
# reference : geeks for geeks

No

### Q44. Python program to convert float decimal to Octal number.

In [ ]:
def floatoctalnum(number,places=3):
  whole,dec = str(number).split('.')
  whole = int(whole)
  dec = int(dec)
  res = oct(whole).lstrip('0o') + '.'
  for x in range(places):
    whole,dec = str((decimal_converter(dec))*8).split('.')
    dec = int(dec)
    res += whole
  return res

def decimal_converter(num):
  while num >1:
    num /=10
  return num

n = input('Enter your floating point value: \n')
p = int(input('Enter the number of decimal places of the result: \n'))
print(floatoctalnum(n, places = p))

Enter your floating point value:
7.16
Enter the number of decimal places of the result:
10
7.1217273146

### Q45. Python program to copy odd lines of one file to other.

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Projects/Capstone Projects/New folder/bcd.txt")
data1 = pd.read_csv("/content/drive/MyDrive/Projects/Capstone Projects/New folder/nfile.txt")

EmptyDataError: ignored

In [ ]:
print(data)

    line 1
0  line 2
1  line 3
2  line 4
3   line 5

In [ ]:
fn = ('data','r')
fn1 = ('data1.txt','w')
cont = fn.readlines()
type(cont)
for i in range(0,len(cont)):
  if (i%2 != 0):
    fn1.write(cont[i])
  else:
    pass 
  fn1.close()
  fn1 = open ('nfile.txt','r')
  cont1 = fn1.read()
  print(cont1)
  fn.close()
  fn1.close()

AttributeError: ignored

### Q45. Write a Python program to replace whitespaces with an underscore and vice versa.

In [ ]:
import re
text = 'A B'
text = text.replace(' ','_')
print(text)
text =  text.replace('_',' ')
print(text)

A_B
A B

### Q46. Write a Python program to convert a date or yyyy-mm-dd format to dd-mm-yyyy.

In [ ]:
import re
def changedateformat(dt):
  return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})','\\3-\\2-\\1', dt)
dt1 = '2022-05-12'
print('Original date format in YYYY-MM-DD', dt1)
print('New date format in DD-MM-YYYY', changedateformat(dt1))

Original date format in YYYY-MM-DD 2022-05-12
New date format in DD-MM-YYYY 12-05-2022

### Q47. Write a Python program to find all words starting with 'a' or 'e' in a given string.

In [ ]:
import re
text = "The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
list1 = re.findall('[ae]\w+',text) 
print(list1)
len(list1)

['example', 'eates', 'an', 'ayList', 'apacity', 'elements', 'elements', 'are', 'en', 'added', 'ayList', 'and', 'ayList', 'ed', 'accordingly']

15

### Q48. Write a Python program to abbreviate 'Road' as 'Rd.' in a given string.

In [ ]:
import re
street = ('21 Ramakrishna Road')
print(re.sub('Road$','Rd.',street))

21 Ramakrishna Rd.

##3) String programs

### Q49 Write a re program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9).

In [ ]:
import re
pattern = '^[A-Za-z0-9_-]*$'
string = 'G33ks_F0r_Geeks'
state = bool(re.match(pattern,string))
print(state)

True

In [ ]:
import re
print(bool(re.match('^[A-Za-z0-9_-]*$','validstring12-_')))
print(bool(re.match('^[A-Za-z0-9_-]*$','invalid@string')))

True
False

In [ ]:
# create a set of allowed characters
allowed_chars = set(("0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ_-"))

# input string
string = "inv@lid"

# convert string into set of characters
validation = set((string))

# check condition
if validation.issubset(allowed_chars):
	print("True")
	
else:
	print ("False")
# Reference :https://www.geeksforgeeks.org/python-program-to-verify-that-a-string-only-contains-letters-numbers-underscores-and-dashes/

False

In [ ]:
allowed_chars = set("0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ_-")

string = "__Val1d__"

validation = set((string))

if validation.issubset(allowed_chars):
	print("True")
	
else:
	print ("False")
# Reference :https://www.geeksforgeeks.org/python-program-to-verify-that-a-string-only-contains-letters-numbers-underscores-and-dashes/

True

### Q50. Code that would matches a string that has an a followed by zero or more b's.

In [ ]:
import re
def textmatch(text):
  pattrens = '^a(b*)$'
  if re.search(pattrens, text):
    return 'Found a match'
  else:
    return 'Not matched'

print(textmatch("ac"))
print(textmatch("abc"))
print(textmatch("a"))
print(textmatch("ab"))
print(textmatch("abb"))

Not matched
Not matched
Found a match
Found a match
Found a match

### Q51. Wap to find Three digit number followed by space followed by two digit number in a string.

In [ ]:
import re
string = '39801 356, 2102 1111'
pattern = '(\d{3}) (\d{2})'
match = re.search(pattern, string)
if match:
  print(match.group())
else:
  print('No match')
# reference: https://www.fireblazeaischool.in/blogs/python-regex-operations/

801 35

### Q52. Write a Python program that matches a string that has an a followed by one or more b's.

In [ ]:
import re
def textmatch(text):
  pattern = 'ab+?'
  if re.search(pattern,text):
    return('Found match')
  else:
    return('No match found')

print(textmatch('ab'))
print(textmatch('abc'))
# reference: https://www.w3resource.com/python-exercises/re/python-re-exercise-3.php

Found match
Found match

### Q53. Write a program to search inform in a string both in uppercase & in lowercase. (INFORM or inform)

In [ ]:
def chaeck(ch):
  if (ch >= 'A' and ch <= 'Z'):
    print(ch,'Character is in upper case');
  elif (ch >= 'a' and ch <= 'z'):
    print(ch,'Character is in lower case');
  else:
    print(ch,'Character is not alphabetic character');

(chaeck('inform'))
(chaeck('INFORM'))
# Reference : https://www.geeksforgeeks.org/check-whether-the-given-character-is-in-upper-case-lower-case-or-non-alphabetic-character/

inform Character is in lower case
INFORM Character is in upper case

### Q54. WAP that matches a string that has an a followed by zero or one 'b'.

In [ ]:
import re
def textmatch(text):
  pattern = 'ab?'
  if re.search(pattern,text):
    return('Found match')
  else:
    return('Match not found')

print(textmatch("ab"))
print(textmatch("abc"))
print(textmatch("abbc"))
print(textmatch("aabbc"))
# Reference: https://www.w3resource.com/python-exercises/re/python-re-exercise-4.php

Found match
Found match
Found match
Found match

### Q55. WAP that matches a string that has an a followed by three 'b'.

In [ ]:
import re
def textmatch(text):
  pattern = 'ab{3}?'
  if re.search(pattern,text):
    return('Match found')
  else:
    return('Match not found')

print(textmatch("abbb"))
print(textmatch("aabbbbbc"))

Match not found
Match found

### Q56. Write a Python program that matches a string that has an a followed by two to three 'b'.

In [ ]:
import re 
def textmatch(text):
  pattern = 'ab{2,3}'
  if re.search(pattern,text):
    print('Match found')
  else:
    print('Match not found')

textmatch("ab")
textmatch("aabbbbbc")
# Reference: https://www.w3resource.com/python-exercises/re/python-re-exercise-6.php

Match not found
Match found

### Q57. Find all the words starting in range of k-n using a for loop & re.

### Q58. Write a Python program to find sequences of lowercase letters joined with a underscore.

In [ ]:
import re
def textmatch(text):
  pattern = '^[a-z]+_[a-z]+$'
  if re.search(pattern,text):
    print('Match found')
  else:
    print('No match found')

(textmatch("aab_cbbbc"))
(textmatch("aab_Abbbc"))
(textmatch("Aaab_abbbc"))

Match found
No match found
No match found

### Q59. Write a program to find the sequences of one upper case letter followed by lower case letters.

In [ ]:
import re
def textmatch(text):
  pattern = '[A-Z]+[a-z]+$'
  if re.search(pattern,text):
    print('Match found')
  else:
    print('No match found')

(textmatch("AaBbGg"))
(textmatch("Python"))
(textmatch("python"))
(textmatch("PYTHON"))
(textmatch("aA"))
(textmatch("Aa"))

Match found
Match found
No match found
No match found
No match found
Match found

### Q60. Write a program that matches a string that has an 'a' followed by anything, ending in 'b'.

In [ ]:
import re 
def textmatch(text):
  pattern = 'a.*?b$'
  if re.search(pattern,text):
    print('Match found')
  else:
    print('No match found')

(textmatch("aabbbbd"))
(textmatch("aabAbbbc"))
(textmatch("accddbbjjjb"))

No match found
No match found
Match found

### Q61. WAP that matches a word at the beginning of a string.

In [ ]:
import re
def textmatch(text):
  pattern = '^\w+'
  if re.search(pattern,text):
    print('Match found')
  else:
    print('No match found')

(textmatch("The quick brown fox jumps over the lazy dog."))
(textmatch(" The quick brown fox jumps over the lazy dog."))

Match found
No match found

### Q62. Write a program that matches a word at the end of string, with optional punctuation.

In [ ]:
import re
def textmatch(text):
  pattern = '\w+\S*$'
  if re.search(pattern,text):
    print('Match found')
  else:
    print('No match found')

(textmatch("The quick brown fox jumps over the lazy dog."))
(textmatch("The quick brown fox jumps over the lazy dog. "))
(textmatch("The quick brown fox jumps over the lazy dog "))

Match found
No match found
No match found

### Q63. Write a Python program that matches a word containing 'z'.

In [ ]:
import re
def textmatch(text):
  pattern = '\w*z.\w*' 
  if re.search(pattern,text):
    print('Match found')
  else:
    print('No match found')

(textmatch("The quick brown fox jumps over the lazy dog."))
(textmatch("Python Exercises."))

Match found
No match found

### Q64. Write a program that matches a word containing 'z', not at the start or end of the word.

In [ ]:
import re
def textmatch(text):
  pattern = '\Bz\B'
  if re.search(pattern,text):
    print('Match found')
  else:
    print('No match found')

(textmatch("The quick brown fox jumps over the lazy dog."))
(textmatch("Python Exercises."))

Match found
No match found

### Q65. Write a program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [ ]:
import re
def textmatch(text):
  pattern = '^[a-zA-Z0-9_]*$'
  if re.search(pattern,text):
    print('Found match')
  else:
    print('No match found')

(textmatch("The quick brown fox jumps over the lazy dog."))
(textmatch("Python_Exercises_1"))

No match found
Found match

### Q66. WAP where a string will start with a specific number.

In [ ]:
import re
def matchnum(string):
  text = re.compile(r'^5')
  if text.match(string):
    print('True')
  else:
    print('False')

(matchnum('5-2345861'))
(matchnum('6-2345861'))

True
False

### Q67. Write a Python program to remove leading zeros from an IP address.

In [ ]:
import re
ip = "216.08.094.196"
string = re.sub('\.[0]*','.',ip)
print(string)

216.8.94.196

### Q68. Write a program to check for a number at the end of a string.

In [ ]:
import re
def endnum(string):
  text = re.compile(r'.*[0-9]$')
  if text.match(string):
    return True
  else:
    return False

print(endnum('abcdef'))
print(endnum('abcdef6'))
# reference: https://www.w3resource.com/python-exercises/re/python-re-exercise-17.php

False
True

### Q69. Code a program to search the numbers (0-9) of length between 1 to 3 in a given string. "Exercises number 1, 12, 13, and 345 are important"

In [ ]:
import re 
results = re.finditer(r'[0-9]{1,3}',"Exercises number 1, 12, 13, and 345 are important")
print('Number of length 1 to 3')
for n in results:
  print(n.group(0))

Number of length 1 to 3
1
12
13
345

### Q70. Write a program to search some literals strings in a string. Sample text : 'The quick brown fox jumps over the lazy dog. 'Searched words : 'fox', 'dog', 'horse'

In [ ]:
import re
patterns = ['fox','dog','horse']
text = 'The quick brown fox jumps over the lazy dog'
for pattern in patterns:
  print("searching for '%s' in '%s' ->" %(pattern,text),)
  if re.search(pattern,text):
    print('Matched')
  else:
    print('Not matched')
#reference: https://www.w3resource.com/python-exercises/re/python-re-exercise-19.php

searching for 'fox' in 'The quick brown fox jumps over the lazy dog' ->
Matched
searching for 'dog' in 'The quick brown fox jumps over the lazy dog' ->
Matched
searching for 'horse' in 'The quick brown fox jumps over the lazy dog' ->
Not matched

### Q71. Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs. .
### Sample text : 'The quick brown fox jumps over the lazy dog.'
### Searched words : 'fox'

In [ ]:
import re
pattern = 'fox'
text = 'The quick browm fox jumps over the lazy dog'
match = re.search(pattern,text)
s = match.start()
e = match.end()
print('found "%s" in "%s" from %d to %d '% \
      (match.re.pattern,match.string, s, e))

found "fox" in "The quick browm fox jumps over the lazy dog" from 16 to 19

### Q72. Write a code to find a common substrings within a string. 
### Sample text : 'Python exercises, PHP exercises, C# exercises'
### Pattern : 'exercises'
### Note: There are two instances of exercises in the input string.

In [ ]:
import re 
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern,text):
  print('found"%s"'% match)

found"exercises"
found"exercises"
found"exercises"

### Q73. Write a program to find the occurrence and position of the substrings within a string. .

In [ ]:
import re
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern,text):
  s = match.start()
  e = match.end()
  print("Found '%s' at %d:%d" % (text[s:e],s,e))

Found 'exercises' at 7:16
Found 'exercises' at 22:31
Found 'exercises' at 36:45

### Q74. Write a code to replace whitespaces with an underscore and vice versa.

In [ ]:
import re
text = 'Python exercises'
text = text.replace(' ','_')
print(text)
text = text.replace('_',' ')
print(text)

Python_exercises
Python exercises

### Q75. How would you remove all whitespaces from a string?

In [ ]:
import re
text = 'Python    Exercises'
print('Original string:',text)
print('Without extra spaces:',re.sub(r'\s+', '',text))

Original string: Python    Exercises
Without extra spaces: PythonExercises

### Q76. Write a Python program to match if two words from a list of words starting with letter 'P'.

In [ ]:
import re
words = ["Python PHP", "Java JavaScript", "c c++",'Predict Proba']
for w in words:
  m = re.match('(P\w+)\W(P\w+)',w)
  if m:
    print(m.groups())

('Python', 'PHP')
('Predict', 'Proba')

### Q77. Write a code to find all words starting with 'a' or 'e' in a given string.

In [ ]:
import re
text = "The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
list = re.findall('[ae]\w+',text)
print(list)
print(len(list))

['example', 'eates', 'an', 'ayList', 'apacity', 'elements', 'elements', 'are', 'en', 'added', 'ayList', 'and', 'ayList', 'ed', 'accordingly']
15

### Q78. Write a Python program to separate and print the numbers and their position of a given string.

In [ ]:
import re
text = "The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
for m in re.finditer('\d+',text):
  print(m.group(0))
  print('Index position:', m.start())

50
Index position: 62

### Q79. Write a program to abbreviate 'Road' as 'Rd.' in a given string. .(BASICALLY REPLACE 'ROAD' WITH 'RD' WHEREVER IT OCCURS)

In [ ]:
import re
street = '21 Ramakrishna Road'
print(re.sub('Road$','Rd.',street))

21 Ramakrishna Rd.

### Q80. Write a Python program to replace all occurrences of space, comma, or dot with a colon.

In [ ]:
import re
text = 'Python Exercises, PHP exercises.'
print(re.sub('[ ,.]',':',text))

Python:Exercises::PHP:exercises:

### Q81. Write a program to replace maximum 2 occurrences of space, comma, or dot with a colon.

In [ ]:
import re
text = 'Python Exercises, PHP exercises.'
print(re.sub('[ ,.]',':',text, 2))

Python:Exercises: PHP exercises.

### Q82. Write a Python program to find all three, four, five characters long words in a string.

In [ ]:
import re
text = 'The quick brown fox jumps over the lazy dog.'
print(re.findall(r'\b\w{3,5}\b',text))

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### Q83. Write a program to extract values between quotation marks of a string.

In [ ]:
import re
text = "'Python Exercises', 'PHP exercises.'"
print(re.findall(r"'(.*?)'",text))

['Python Exercises', 'PHP exercises.']

### Q84. How would you remove multiple spaces in a string?
### >>> write a python program to remove multiple spaces in string.

In [ ]:
import re
text = 'Python       Exercises'
print('Original string:', text)
print('Without extra spaces:',re.sub(' +',' ',text))

Original string: Python       Exercises
Without extra spaces: Python Exercises

## 4) Variable, srting, int, float. (Null 4)

### Q85. Write a program to print every character of a string entered by the user in a new line using a loop

In [ ]:
str1 = input('Enter your own string: ')
total = 1
for i in range(len(str1)):
  print('The character at %d Index position = %c' %(i,str1[i]))

Enter your own string: Python Program
The character at 0 Index position = P
The character at 1 Index position = y
The character at 2 Index position = t
The character at 3 Index position = h
The character at 4 Index position = o
The character at 5 Index position = n
The character at 6 Index position =
The character at 7 Index position = P
The character at 8 Index position = r
The character at 9 Index position = o
The character at 10 Index position = g
The character at 11 Index position = r
The character at 12 Index position = a
The character at 13 Index position = m

In [ ]:
# Python program to Print Characters in a String
 
str1 = input("Please Enter your Own String : ")
i = 0

while(i < len(str1)):
    print("The Character at %d Index Position = %c" %(i, str1[i]))
    i = i + 1

# Reference: https://www.tutorialgateway.org/python-program-to-print-characters-in-a-string/

Please Enter your Own String : Python Program
The Character at 0 Index Position = P
The Character at 1 Index Position = y
The Character at 2 Index Position = t
The Character at 3 Index Position = h
The Character at 4 Index Position = o
The Character at 5 Index Position = n
The Character at 6 Index Position =
The Character at 7 Index Position = P
The Character at 8 Index Position = r
The Character at 9 Index Position = o
The Character at 10 Index Position = g
The Character at 11 Index Position = r
The Character at 12 Index Position = a
The Character at 13 Index Position = m

### Q86. Write a program to find the length of the string "machine learning" with and without using len function

In [ ]:
Str = 'Machine learning'
print(len(Str))

16

In [ ]:
def findlen(Str):
  counter = 0 
  for i in Str:
    counter += 1
  return counter 

Str = 'Machine learning'
print(findlen(Str))

16

In [ ]:
# Python code to demonstrate string length
# using while loop.

# Returns length of string
def findLen(str):
	counter = 0
	while str[counter:]:
		counter += 1
	return counter

str = "geeks"
print(findLen(str))

5

In [ ]:
# Python code to demonstrate string length
# using join and count

# Returns length of string
def findLen(str):
	if not str:
		return 0
	else:
		some_random_str = 'py'
		return ((some_random_str).join(str)).count(some_random_str) + 1

str = "geeks"
print(findLen(str))

5

### Q87. Write a program to check if the word 'orange' is present in the "This is orange juice".

In [ ]:
string = "This is orange juice"
print('orange' in string)

True

In [ ]:
string = "This is orange juice"
if 'orange' in string:
  print('orange is present')
else:
  print('orange is not present')

orange is present

### Q88. Write a program to find the number of vowels, consonants, digits, and white space characters in a string.

In [ ]:
def countcharactertype(str):
  vowles = 0
  consonant = 0
  specialchar = 0 
  digit = 0
  for i in range(0, len(str)):
    ch = str[i]
    if ((ch >= 'a' and ch <='z') or (ch >= 'A' and ch <= 'Z')):
      ch = ch.lower()
      if (ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u'):
        vowles += 1
      else:
        consonant +=1
    elif (ch >='0' and ch <='9'):
      digit +=1
    else:
      specialchar +=1

  print('Vowles :', vowles)
  print('Consonant :', consonant)
  print('Special Character :', specialchar)
  print('Digit :', digit)

str = "geeks for geeks121"
countcharactertype(str)

# reference: https://www.geeksforgeeks.org/program-count-vowels-consonant-digits-special-characters-string/

Vowles : 5
Consonant : 8
Special Character : 2
Digit : 3

### Q89. Write a Python program to count Uppercase, Lowercase, special character, and numeric values in a given string.

In [ ]:
def count(str):
  upper,lower,number,special = 0,0,0,0
  for i in range(len(str)):
    if str[i].isupper():
      upper += 1
    elif str[i].islower():
      lower +=1
    elif str[i].isdigit():
      number +=1
    else:
      special +=1
  print('Upper case letters :', upper)
  print('Lower case letters :', lower)
  print('Numbers :',number)
  print('Special character :',special)

str = "#GeeKs01fOr@gEEks07"
count(str)

Upper case letters : 5
Lower case letters : 8
Numbers : 4
Special character : 2

### Q90. Write a program to make a new string with all the consonants deleted from the string "Hello, have a good day".

In [ ]:
a = input('Enter any string')
print('The original string is : ' + a)
res = []
for i in a:
  if i in 'aeiouAEIOU ':
    res.extend(i)
res = ''.join(res)
print('String after consonants removal :' + (res))

#reference: https://learnaboutprograme.blogspot.com/2021/03/python-codes-with-question.html

Enter any string "Hello, have a good day".
The original string is :  "Hello, have a good day".
String after consonants removal : eo ae a oo a

In [ ]:
a = ['a','e','i','o','u','A','E','I','O','U',' ']    
b = "Hello, have a good day"
c = ""                          
for i in b:                             
    if i not in a:                                 
        continue               
    else:                 
        c=c+i      
print(c)
# reference :https://stackoverflow.com/questions/61724131/can-someone-explain-this-python-operation-bb-indexibb-indexi1

eo ae a oo a

### Q91. Write a Python program to remove the nth index character from a non-empty string.

In [ ]:
def removechar(str,n):
  first_part = str[:n]
  last_part = str[n+1:]
  return first_part + last_part

print(removechar('Python', 0))
print(removechar('Python', 3))
print(removechar('Python', 5))

ython
Pyton
Pytho

### Q92. Write a Python program to change a given string to a new string where the first and last characters have been exchanged.

In [ ]:
def changestring(str1):
  return str1[-1:] + str1[1:-1] + str1[:1]

print(changestring('abcd'))
print(changestring('12345'))

dbca
52341

### Q93. Write a Python program to count the occurrences of each word in a given sentence.

In [ ]:
def wordcount(str):
  count = dict()
  words = str.split()
  for word in words:
    if word in count:
      count[word] +=1
    else:
      count[word] = 1
  return count

print( wordcount('the quick brown fox jumps over the lazy dog.'))
# reference: https://www.w3resource.com/python-exercises/string/python-data-type-string-exercise-12.php

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

### Q94. How do you count the occurrence of a given character in a string?

In [ ]:
def count(s,c):
  res = 0
  for i in range(len(s)):
    if (s[i] == c):
      res = res+1
  return res

str= "geeksforgeeks"
c = 's'
print(count(str, c))

2

In [ ]:
def countinString(ch, s):

	# base case;
	if (len(s) == 0):
		return 0
	count = 0

	# checking if the first character of
	# the given string is that character
	# or not
	if (s[0] == ch):
		count += 1

	# this will count the occurrence of
	# given character in the string
	# from index 1 to the last
	# index of the string
	count += countinString(ch, s[1:])

	return count
	
str = "geeksforgeeks"
c = 'e'
print(countinString(c, str))

# This code is contributed by shinjanpatra
# reference : https://www.geeksforgeeks.org/program-count-occurrence-given-character-string/

4

### Q95. Write a program to find last 10 characters of a string?

In [ ]:
str = 'The quick brown fox jumps over the lazy dog.'
n = 10
print(str)
while (n > 0):
  print(str[-n], end = '')
  n = n-1

The quick brown fox jumps over the lazy dog.
 lazy dog.

In [ ]:
# get input
Str = "Geeks For Geeks!"
N = 4

# print the string
print(Str)

# get length of string
length = len(Str)

# create a new string of last N characters
Str2 = Str[length - N:]

# print Last N characters
print(Str2)

Geeks For Geeks!
eks!

### Q96. WAP to convert a given string to all uppercase if it contains at least 2 uppercase characters in the first 4 characters.

In [ ]:
def touppercase(str1):
  num_upper = 0
  for letter in str1[:4]:
    if letter.upper() == letter:
      num_upper += 1
    if num_upper >= 2:
      return str1.upper()
  return str1

print(touppercase('Python'))
print(touppercase('PyThon'))
# reference: https://www.w3resource.com/python-exercises/string/python-data-type-string-exercise-21.php

Python
PYTHON

### Q97. Write a Python program to remove a newline in Python.

In [ ]:
str1 = 'Python Excercises \n'
print(str1)
print(str1.rstrip())
# reference : https://www.w3resource.com/python-exercises/string/python-data-type-string-exercise-23.php

Python Excercises

Python Excercises

### Q98.  Write a Python program to swap commas and dots in a string
###  Sample string: "32.054,23"
###  Expected Output: "32,054.23"

In [ ]:
amount = "32.054,23"
maketrans = amount.maketrans
amount = amount.translate(maketrans(',.','.,'))
print(amount)

32,054.23

### Q99. Write a Python program to find the first repeated character in a given string

In [ ]:
def firstrepeatedchar(str):
  h = {}
  for ch in str:
    if ch in h:
      return ch;
    else:
      h[ch] = 0
  return ''

print(firstrepeatedchar('abcdabcd'))
# reference: geeks for geeks

a

In [ ]:
def first_repeated_char(str1):
  for index,c in enumerate(str1):
    if str1[:index+1].count(c) > 1:
      return c 
  return "None"

print(first_repeated_char("abcdabcd"))
print(first_repeated_char("abcd"))
# reference: https://www.w3resource.com/python-exercises/string/python-data-type-string-exercise-53.php

a
None

### Q100. Write a Python program to find the second most repeated word in a given string

In [ ]:
def word_count(str):
  counts = dict()
  words = str.split()
  for word in words:
    if word in counts:
      counts[word] += 1
    else:
      counts[word] = 1
  
  counts_x = sorted(counts.items(), key = lambda kv: kv[1])
  return counts_x[-2]

print(word_count("Both of these issues are fixed by postponing the evaluation of annotations. Instead of compiling code which executes expressions in annotations at their definition time, the compiler stores the annotation in a string form equivalent to the AST of the expression in question. If needed, annotations can be resolved at runtime using typing.get_type_hints(). In the common case where this is not required, the annotations are cheaper to store (since short strings are interned by the interpreter) and make startup time faster."))

# reference: https://www.w3resource.com/python-exercises/string/python-data-type-string-exercise-56.php

('of', 4)

In [ ]:
# Python3 program to find out the second
# most repeated word

# Function to find the word
def secMostRepeated(seq):
	
	# Store all the words with its occurrence
	occ = {}
	for i in range(len(seq)):
		occ[seq[i]] = occ.get(seq[i], 0) + 1

	# Find the second largest occurrence
	first_max = -10**8
	sec_max = -10**8

	for it in occ:
		if (occ[it] > first_max):
			sec_max = first_max
			first_max = occ[it]
			
		elif (occ[it] > sec_max and
			occ[it] != first_max):
			sec_max = occ[it]

	# Return with occurrence equals
	# to sec_max
	for it in occ:
		if (occ[it] == sec_max):
			return it

# Driver code
if __name__ == '__main__':
	
	seq = [ "ccc", "aaa", "ccc",
			"ddd", "aaa", "aaa" ]
	print(secMostRepeated(seq))

# This code is contributed by mohit kumar 29
# reference: https://www.geeksforgeeks.org/second-repeated-word-sequence/

ccc

### Q101. Python program to Count Even and Odd numbers in a string.

In [ ]:
list1 = [10, 21, 4, 45, 66, 93, 1]
even_count,odd_count = 0,0
for num in list1:
  if num % 2 == 0:
    even_count += 1
  else:
    odd_count +=1

print('Even number in list :', even_count)
print('Odd number in list :', odd_count)

Even number in list : 3
Odd number in list : 4

In [ ]:
# Python program to count Even and Odd numbers in a List

# list of numbers
list1 = [10, 21, 4, 45, 66, 93, 11]

even_count, odd_count = 0, 0
num = 0

# using while loop	
while(num < len(list1)):
	
	# checking condition
	if list1[num] % 2 == 0:
		even_count += 1
	else:
		odd_count += 1
	
	# increment num
	num += 1
	
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [ ]:
# using lambda expression
list1 = [10, 21, 4, 45, 66, 93, 11]
odd_count = len(list(filter(lambda x: (x%2 != 0), list1)))
even_count = len(list(filter(lambda x: (x%2 == 0), list1)))

print('Even number in list', even_count)
print('Odd number in list', odd_count)

Even number in list 3
Odd number in list 4

In [ ]:
# Python program to print odd Numbers in a List

# list of numbers
list1 = [10, 21, 4, 45, 66, 93, 11]

only_odd = [num for num in list1 if num % 2 == 1]
odd_count = len(only_odd)

print("Even numbers in the list: ", len(list1) - odd_count)
print("Odd numbers in the list: ", odd_count)
#reference: https://www.geeksforgeeks.org/python-program-to-count-even-and-odd-numbers-in-a-list/

Even numbers in the list:  3
Odd numbers in the list:  4

### Q102. How do you check if a string contains only digits?

In [ ]:
ini_string1 = '1234556'
ini_string2 = 'ab123bc'
print('Initial strings :', ini_string1, ini_string2)
if ini_string1.isdigit():
  print('String1 contains all digit')
else:
  print('String1 does not contain all digit')
if ini_string2.isdigit():
  print('String2 contains all digit')
else:
  print('String2 does not contain all digit')

Initial strings : 1234556 ab123bc
String1 contains all digit
String2 does not contain all digit

In [ ]:
import re
ini_string1 = '1234556'
ini_string2 = 'ab123bc'
print('Initial strings :', ini_string1, ini_string2)
if re.match('^[0-9]*$', ini_string1):
  print('String1 contains all digit')
else:
  print('String1 does not contain all digit')
if re.match('^[0-9]*$', ini_string2):
  print('String2 contains all digit')
else:
  print('String2 does not contain all digit')

Initial strings : 1234556 ab123bc
String1 contains all digit
String2 does not contain all digit

In [ ]:
# Python3 code to demonstrate
# how to check whether string contains
# only numbers or not

# Initialising string
ini_string1 = '1234556'
ini_string2 = 'abc123'

# printing initial string
print ("Initial Strings : ", ini_string1, ini_string2)

# Using try / exception:
try:
	num = int(ini_string1)
	print ("String1 contains only digits")
except:
	print ("String1 doesn'tcontains only digits")
	
try:
	num = int(ini_string2)
	print ("String2 contains only digits")
except:
	print ("String2 doesn't contains only digits")
	
# reference: https://www.geeksforgeeks.org/python-check-whether-string-contains-only-numbers-or-not/

Initial Strings :  1234556 abc123
String1 contains only digits
String2 doesn't contains only digits

### Q103. How do you remove a given character/word from String?

In [ ]:
# using replace
s = 'flexible!'
s2 = s.replace('b','p')
print(s2)
s3 = s.replace('!','.')
print(s3)

flexiple!
flexible.

In [ ]:
# using translate
s = 'flexible!'
x = 'b'
y = 'p'
s2 = s.maketrans(x,y)
print(s.translate(s2))
# reference: https://flexiple.com/python-remove-character-from-string/#:~:text=Using%20translate()%3A,with%20None%20and%20not%20%22%22%20.

flexiple!

### Q104. Write a Python program to remove the characters which have odd index values of a given string

In [ ]:
def oddvaluestr(str):
  result = ''
  for i in range(len(str)):
    if i%2 == 0:
      result = result + str[i]
  return(result)

print(oddvaluestr('abcdef'))
print(oddvaluestr('python'))
# reference: https://www.w3resource.com/python-exercises/string/python-data-type-string-exercise-11.php

ace
pto

### Q105. Write a Python function to reverses a string if its length is a multiple of 5

In [ ]:
def reversestr(str):
  if len(str) %5 == 0:
    return ''.join(reversed(str))
  return(str)

print(reversestr('abcde'))
print(reversestr('python'))
# reference: https://www.w3resource.com/python-exercises/string/python-data-type-string-exercise-20.php

edcba
python

### Q106. Write a Python program to format a number with a percentage(0.05 >> 5%)

In [ ]:
x = 0.05
y = -0.05
print('Original number: ',x)
print("Formatted number with percentage: "+"{:.2%}".format(x));
print('Original number: ',y)
print("Formatted number with percentage: "+"{:.2%}".format(y));
print()

Original number:  0.05
Formatted number with percentage: 5.00%
Original number:  -0.05
Formatted number with percentage: -5.00%

### Q107. Write a Python program to reverse words in a string.

In [ ]:
def reversesentense(sentense):
  words = sentense.split(' ')
  reverse_sentense = ' '.join(reversed(words))
  return reverse_sentense

if __name__ == '__main__':
 input = 'geeks quiz practice code'
 print(reversesentense(input))
# reference: geeks for geeks

code practice quiz geeks

In [ ]:
## initializing the string
string = "I am a python programmer"
## splitting the string on space
words = string.split()
## reversing the words using reversed() function
words = list(reversed(words))
## joining the words and printing
print(" ".join(words))
# reference: https://www.tutorialspoint.com/reverse-words-in-a-given-string-in-python

programmer python a am I

### Q108. Write a Python program to swap cases of a given string.

In [ ]:
def swapcasestr(str1):
  result_str = ''
  for item in str1:
    if item.isupper():
      result_str += item.lower()
    else:
      result_str += item.upper()
  return result_str

print(swapcasestr("Python Exercises"))
print(swapcasestr("Java"))
print(swapcasestr("NumPy"))
# reference: https://www.w3resource.com/python-exercises/string/python-data-type-string-exercise-84.php

pYTHON eXERCISES
jAVA
nUMpY

In [ ]:
# Python program to demonstrate the use of
# swapcase() method

string = "gEEksFORgeeks"

# prints after swappong all cases
print(string.swapcase())

string = "striver"
print(string.swapcase())
# reference: https://www.geeksforgeeks.org/python-string-swapcase/

GeeKSforGEEKS
STRIVER

### Q109. Write a Python program to remove spaces from a given string

In [ ]:
def removespaces(str1):
  str1 = str1.replace(' ','')
  return str1

print(removespaces("w 3 res ou r ce"))
print(removespaces("a b c"))

w3resource
abc

### Q110. Write a Python program to remove duplicate characters of a given string

In [ ]:
from collections import OrderedDict
def removeduplicates(str1):
  return ''.join(OrderedDict.fromkeys(str1))

print(removeduplicates("python exercises practice solution"))
print(removeduplicates("w3resource"))
# reference: https://www.w3resource.com/python-exercises/string/python-data-type-string-exercise-61.php

python exrcisalu
w3resouc

In [ ]:
def removeduplicates(str1):
  s = set(str)
  s = ''.join(s)
  print('Without order :',s)
  t = ''
  for i in str:
    if (i in t):
      pass 
    else:
      t = t+i
    print('With order :',t)

str="geeksforgeeks"
removeduplicates(str)
# reference: https://www.geeksforgeeks.org/remove-duplicates-given-string-python/

Without order : gokfser
With order : g
With order : ge
With order : ge
With order : gek
With order : geks
With order : geksf
With order : geksfo
With order : geksfor
With order : geksfor
With order : geksfor
With order : geksfor
With order : geksfor
With order : geksfor

### Q112. Write a Python Program to find the area of a circle

In [ ]:
def areaofcircle(r):
  area = 3.142*r**2
  return area
areaofcircle(5)

78.55

### Q113. Python Program to find Sum of squares of first n natural numbers.

In [ ]:
def squaresum(n):
  sm = 0
  for i in range(1, n+1):
    sm = sm + (i*i)
  return sm

print(squaresum(5))

55

In [ ]:
# Python3 Program to find sum of square of first n natural numbers
# Return the sum of square of first n natural numbers
def squaresum(n) :
	return (n * (n + 1) * (2 * n + 1)) // 6

# Driven Program
n = 4
print(squaresum(n))

#This code is contributed by Nikita Tiwari.

30

In [ ]:
# Python Program to find sum of square of first n natural numbers. This program avoids overflow upto some extent for large value of n.y

def squaresum(n):
	return (n * (n + 1) / 2) * (2 * n + 1) / 3

# main()
n = 4
print(squaresum(n));

# Code Contributed by Mohit Gupta_OMG <(0_o)>
# reference: https://www.geeksforgeeks.org/python-program-for-sum-of-squares-of-first-n-natural-numbers/

30.0

### Q114. Python Program to find cube sum of first n natural numbers.

In [ ]:
def cubesum(n):
  sm = 0
  for i in range(1, n+1):
    sm = sm + (i**3)
  return sm

print(cubesum(5))

225

In [ ]:
# A formula based Python program to find sum
# of series with cubes of first n natural
# numbers

# Returns the sum of series
def sumOfSeries(n):
	x = (n * (n + 1) / 2)
	return (int)(x * x)



# Driver Function
n = 5
print(sumOfSeries(n))

# Code Contributed by Mohit Gupta_OMG <(0_o)>

In [ ]:
# Efficient Python program to find sum of cubes
# of first n natural numbers that avoids
# overflow if result is going to be withing
# limits.

# Returns the sum of series
def sumOfSeries(n):
	x = 0
	if n % 2 == 0 :
		x = (n/2) * (n+1)
	else:
		x = ((n + 1) / 2) * n
		
	return (int)(x * x)


# Driver Function
n = 5
print(sumOfSeries(n))

# Code Contributed by Mohit Gupta_OMG <(0_o)>
# reference : https://www.geeksforgeeks.org/python-program-for-program-for-cube-sum-of-first-n-natural-numbers/

### Q115. Python Program to find simple interest and compound interest.

In [ ]:
def simpleintrest(p,t,r):
  print('The principle is :',p)
  print('Time is :',t)
  print('Rate of intrest is :',r)
  si = (p*t*r) / 100
  print('The simple intrest is :', si)
  return si

(simpleintrest(1000,2,10))

The principle is : 1000
Time is : 2
Rate of intrest is : 10
The simple intrest is : 200.0

200.0

In [ ]:
def compoundintrest(principle, rate, time):
  amount = principle * (pow((1 + rate / 100), time))
  ci = amount - principle
  print('The compound intrest is: ',ci)

compoundintrest(10000, 10.25, 5)
# reference: https://www.geeksforgeeks.org/python-program-for-compound-interest/

The compound intrest is:  6288.946267774416

### Q116. Python program to check whether a number is Prime or not.

In [ ]:
num = 11
if num > 1:
  for i in range(2, int(num/2)+1):
    if num % i == 0:
      print(num, 'is not Prime Number')
      break
  else:
    print(num, 'is prime Number')
else:
  print(num, 'is not Prime Number')

11 is prime Number

## 5) Python program using loop, dict, functions (Null 6)

### Q117. Python program to sort Python Dictionaries by Keys.

In [ ]:
color_dict = {'red':'#FF0000',
          'green':'#008000',
          'black':'#000000',
          'white':'#FFFFFF'}
for key in sorted(color_dict):
  print('%s: %s'%(key, color_dict[key]))

black: #000000
green: #008000
red: #FF0000
white: #FFFFFF

In [ ]:
def sortdictbykey(d, reverse = False):
  return dict(sorted(d.items(), reverse=reverse))
students = { 'name1': 'Theodore', 'name2': 'Mathew', 'name4': 'Roxanne', 'name3': 'David' }
print('Original dictionary: ',students)
print('\n Sort the dictionary by key (Ascending order)')
print(sortdictbykey(students))
print('\n Sort the dictionary by key (Descending order)')
print(sortdictbykey(students, True))

Original dictionary:  {'name1': 'Theodore', 'name2': 'Mathew', 'name4': 'Roxanne', 'name3': 'David'}

 Sort the dictionary by key (Ascending order)
{'name1': 'Theodore', 'name2': 'Mathew', 'name3': 'David', 'name4': 'Roxanne'}

 Sort the dictionary by key (Descending order)
{'name4': 'Roxanne', 'name3': 'David', 'name2': 'Mathew', 'name1': 'Theodore'}

In [ ]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict

dict = {'ravi':'10','rajnish':'9','sanjeev':'15','yash':'2','suraj':'32'}
dict1 = OrderedDict(sorted(dict.items()))
print(dict1)

OrderedDict([('rajnish', '9'), ('ravi', '10'), ('sanjeev', '15'), ('suraj', '32'), ('yash', '2')])

### Q118. Python program to sort Python Dictionaries by Values.

In [ ]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary: ',d)
sorted_d = sorted(d.items(), key = operator.itemgetter(1))
print('Dictionary in ascending order by value :',sorted_d)
sorted_d = (sorted(d.items(), key = operator.itemgetter(1), reverse = True))
print('Dictionary in descending order by value :',sorted_d)

Original dictionary:  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value : [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Dictionary in descending order by value : [(3, 4), (4, 3), (1, 2), (2, 1), (0, 0)]

In [ ]:
def sort_dict_by_value(d, reverse = False):
  return (sorted(d.items(), key = lambda x: x[1], reverse = reverse))
print("Original dictionary elements:")
colors = {'Red': 1, 'Green': 3, 'Black': 5, 'White': 2, 'Pink': 4}
print(colors)
print("\nSort (ascending) the said dictionary elements by value:")
print(sort_dict_by_value(colors))
print("\nSort (descending) the said dictionary elements by value:")
print(sort_dict_by_value(colors, True))
# reference: https://www.w3resource.com/python-exercises/dictionary/python-data-type-dictionary-exercise-1.php

Original dictionary elements:
{'Red': 1, 'Green': 3, 'Black': 5, 'White': 2, 'Pink': 4}

Sort (ascending) the said dictionary elements by value:
[('Red', 1), ('White', 2), ('Green', 3), ('Pink', 4), ('Black', 5)]

Sort (descending) the said dictionary elements by value:
[('Black', 5), ('Pink', 4), ('Green', 3), ('White', 2), ('Red', 1)]

### Q119. Python program to find the sum of all items in a dictionary.

In [ ]:
def returnsum(mydict):
  list = []
  for i in mydict:
    list.append(mydict[i])
  final = sum(list)
  return final

dict = {10: 100, 20: 200, 30: 300}
print("Sum :", returnsum(dict))

Sum : 600

In [ ]:
# Python3 Program to find sum of
# all items in a Dictionary

# Function to print sum


def returnSum(dict):

	sum = 0
	for i in dict.values():
		sum = sum + i

	return sum


# Driver Function
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

In [ ]:
# Python3 Program to find sum of
# all items in a Dictionary

# Function to print sum


def returnSum(dict):

	sum = 0
	for i in dict:
		sum = sum + dict[i]

	return sum


# Driver Function
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

In [ ]:
# Python3 Program to find sum of
# all items in a Dictionary

# Function to print sum


def returnSum(dict):
	return sum(dict.values())


# Driver Function
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

### Q120. Python program to remove a key from a dictionary.

In [ ]:
mydict = {'a':1,'b':2,'c':3,'d':4}
print(mydict)
if 'a' in mydict:
  del mydict['a']
print(mydict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Python code to demonstrate
# removal of dict. pair
# using pop()

# Initializing dictionary
test_dict = {"Arushi" : 22, "Anuradha" : 21, "Mani" : 21, "Haritha" : 21}

# Printing dictionary before removal
print ("The dictionary before performing remove is : " + str(test_dict))

# Using pop() to remove a dict. pair
# removes Mani
removed_value = test_dict.pop('Mani')

# Printing dictionary after removal
print ("The dictionary after remove is : " + str(test_dict))
print ("The removed key's value is : " + str(removed_value))

print ('\r')

# Using pop() to remove a dict. pair
# doesn't raise exception
# assigns 'No Key found' to removed_value
removed_value = test_dict.pop('Manjeet', 'No Key found')

# Printing dictionary after removal
print ("The dictionary after remove is : " + str(test_dict))
print ("The removed key's value is : " + str(removed_value))

The dictionary before performing remove is : {'Arushi': 22, 'Anuradha': 21, 'Mani': 21, 'Haritha': 21}
The dictionary after remove is : {'Arushi': 22, 'Anuradha': 21, 'Haritha': 21}
The removed key's value is : 21

The dictionary after remove is : {'Arushi': 22, 'Anuradha': 21, 'Haritha': 21}
The removed key's value is : No Key found

In [ ]:
# using dict comprihension
test_dict = {"Arushi" : 22, "Anuradha" : 21, "Mani" : 21, "Haritha" : 21}
print('The dictionary before performing remove is :' +str(test_dict))
new_dict = {key:val for key, val in test_dict.items() if key != 'Mani'}
print('The dictionary after remove is :' +str(new_dict))

The dictionary before performing remove is :{'Arushi': 22, 'Anuradha': 21, 'Mani': 21, 'Haritha': 21}
The dictionary after remove is :{'Arushi': 22, 'Anuradha': 21, 'Haritha': 21}

### Q 121. Python program to merge two Dictionaries.

In [ ]:
def merge(dict1, dict2):
  return (dict2.update(dict1))

dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
print(merge(dict1, dict2))
print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [ ]:
# Python code to merge dict using a single
# expression
def Merge(dict1, dict2):
	res = {**dict1, **dict2}
	return res
	
# Driver code
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
dict3 = Merge(dict1, dict2)
print(dict3)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

### Q122. Program to create grade calculator in Python.

In [ ]:
#Python code for the Grade Calculator program in action
  
# Creating a dictionary which consists of the student name, assignment result test results and their respective lab results
  
# 1. Jack's dictionary
jack = { "name":"Jack Frost",
         "assignment" : [80, 50, 40, 20],
         "test" : [75, 75],
         "lab" : [78.20, 77.20]
       }
         
# 2. James's dictionary
james = { "name":"James Potter",
          "assignment" : [82, 56, 44, 30],
          "test" : [80, 80],
          "lab" : [67.90, 78.72]
        }
  
# 3. Dylan's dictionary
dylan = { "name" : "Dylan Rhodes",
          "assignment" : [77, 82, 23, 39],
          "test" : [78, 77],
          "lab" : [80, 80]
        }
          
# 4. Jessica's dictionary
jess = { "name" : "Jessica Stone",
         "assignment" : [67, 55, 77, 21],
         "test" : [40, 50],
         "lab" : [69, 44.56]
       }
         
# 5. Tom's dictionary
tom = { "name" : "Tom Hanks",
        "assignment" : [29, 89, 60, 56],
        "test" : [65, 56],
        "lab" : [50, 40.6]
      }

def get_average(marks):
  total_sum = sum(marks)
  total_sum = float(total_sum)
  return total_sum / len(marks)

def calculate_total_average(students):
  assignment = get_average(students['assignment'])
  test = get_average(students['test'])
  lab = get_average(students['lab'])

    # Return the result based
    # on weightage supplied
    # 10 % from assignments
    # 70 % from test
    # 20 % from lab-works
  return (0.1 * assignment + 0.7 * test + 0.2 * lab)

def assign_letter_grade(score):
  if score >= 90: return 'A'
  if score >= 80: return 'B'
  if score >= 70: return 'C'
  if score >= 60: return 'D'
  else: return 'E'

def class_average_is(student_list):
  result_list = []

  for student in student_list:
    stud_avg = calculate_total_average(student)
    result_list.append(stud_avg)
    return get_average(result_list)

students = [jack, james, dylan, jess, tom]
for i in students:
  print(i['name'])
  print("=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=")
  print('Average marks of %s is : %s' %(i['name'],calculate_total_average(i)))
  print('Letter grade of %s is : %s' %(i['name'],assign_letter_grade(calculate_total_average(i))))
  print()

class_av = class_average_is(students)
print('Class average is %s :'% (class_av))
print('Letter grade of class is %s :'% (assign_letter_grade(class_av)))
# reference: https://www.geeksforgeeks.org/program-create-grade-calculator-in-python/

Jack Frost
=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=
Average marks of Jack Frost is : 72.79
Letter grade of Jack Frost is : C

James Potter
=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=
Average marks of James Potter is : 75.962
Letter grade of James Potter is : C

Dylan Rhodes
=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=
Average marks of Dylan Rhodes is : 75.775
Letter grade of Dylan Rhodes is : C

Jessica Stone
=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=
Average marks of Jessica Stone is : 48.356
Letter grade of Jessica Stone is : E

Tom Hanks
=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=
Average marks of Tom Hanks is : 57.26
Letter grade of Tom Hanks is : E

Class average is 72.79 :
Letter grade of class is C :

### Q123. Print anagrams together in Python using List and Dictionary

In [ ]:
# Function to return all anagrams together
def allAnagram(input):
	dict = {}
	for strVal in input:
		key = ''.join(sorted(strVal))
		if key in dict.keys():
			dict[key].append(strVal)
		else:
			dict[key] = []
			dict[key].append(strVal)
	output = ""
	for key,value in dict.items():
		output = output + ' '.join(value) + ' '

	return output

# Driver function
if __name__ == "__main__":
	input=['cat', 'dog', 'tac', 'god', 'act']
	print (allAnagram(input))

cat tac act dog god

### Q124. Check if binary representations of two numbers are an anagram.

In [ ]:
from collections import Counter 
def checkanagram(num1, num2):
  bin1 = bin(num1)[:2]
  bin2 = bin(num2)[:2]
  zeroes = abs(len(bin1)-len(bin2))
  if (len(bin1)> len(bin2)):
    bin2 = zeroes* '0' + bin2
  else:
    bin1 = zeroes* '0' + bin1
  
  dict1 = Counter(bin1)
  dict2 = Counter(bin2)
  if dict1 == dict2 :
    print('Yes')
  else:
    print('No')

if __name__ == '__main__':
  num1 = 8
  num2 = 4
  checkanagram(num1,num2)
# reference : https://www.geeksforgeeks.org/python-dictionary-check-binary-representations-two-numbers-anagram/

Yes

### Q125. Python Counter to find the size of the largest subset of anagram words.

In [ ]:
from collections import Counter
def maxanagramsize(input):
  input = input.split(' ')
  for i in range(0, len(input)):
    input[i] = ''.join(sorted(input[i]))
  freqdict = Counter(input)
  print(max(freqdict.values()))

if __name__ == '__main__':
  input = 'ant magenta magnate tan gnamate'
  maxanagramsize(input)

# reference: https://www.geeksforgeeks.org/python-counter-find-size-largest-subset-anagram-words/

3

### Q126. Python Dictionary to find mirror characters in a string

In [ ]:
def mirrochar(input, k):
  original = 'abcdefghijklmnopqrstuvwxyz'
  reverse = 'zyxwvutsrqponmlkjihgfedcba'
  dictchar = dict(zip(original,reverse))
  prefix = input[0:k-1]
  suffix = input[k-1:]
  mirror = ''
  for i in range(0, len(suffix)):
    mirror = mirror + dictchar[suffix[i]]
  print(prefix+mirror)

if __name__ == '__main__':
  input = 'paradox'
  k = 3
  mirrochar(input,k)

# reference: https://www.geeksforgeeks.org/python-dictionary-find-mirror-characters-string/

paizwlc

### Q127. Counting the frequencies in a list using a dictionary in Python.

In [ ]:
def countfrequency(mylist):
  freq = {}
  for item in mylist:
    if (item in freq):
      freq[item] += 1
    else:
      freq[item] = 1
  for key, value in freq.items():
    print('%d : %d'%(key,value))

if __name__ == '__main__':
  mylist =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
  countfrequency(mylist)

#reference: https://www.geeksforgeeks.org/counting-the-frequencies-in-a-list-using-dictionary-in-python/

1 : 5
5 : 2
3 : 3
4 : 3
2 : 4

### Q128. Python program to convert a list of Tuples into Dictionary.

In [ ]:
def convert(tup,di):
  for a,b in tup:
    di.setdefault(a, []).append(b)
  return di

tups = [("akash", 10), ("gaurav", 12), ("anand", 14), 
     ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dictionary = {}
print (convert(tups, dictionary))

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [ ]:
# Python code to convert into dictionary
list_1=[("Nakul",93), ("Shivansh",45), ("Samved",65),
		("Yash",88), ("Vidit",70), ("Pradeep",52)]
dict_1=dict()

for student,score in list_1:
	dict_1.setdefault(student, []).append(score)
print(dict_1)

{'Nakul': [93], 'Shivansh': [45], 'Samved': [65], 'Yash': [88], 'Vidit': [70], 'Pradeep': [52]}

In [ ]:
# Python code to convert into dictionary
def Convert(tup, di):
	di = dict(tup)
	return di
	
# Driver Code
tups = [("akash", 10), ("gaurav", 12), ("anand", 14),
	("suraj", 20), ("akhil", 25), ("ashish", 30)]
dictionary = {}
print (Convert(tups, dictionary))

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [ ]:
# Python code to convert into dictionary

print (dict([('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]))
# reference: https://www.geeksforgeeks.org/python-convert-list-tuples-dictionary/

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

### Q129. Scraping And Finding Ordered Words In A Dictionary using Python.

In [ ]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)

In [ ]:
import requests 
def getword():
  url = "http://www.puzzlers.org/pub/wordlists/unixdict.txt"
  fetchdata = requests.get(url)
  wordlist = fetchdata.content
  wordlist = wordlist.decode('utf-8').split()
  return wordlist

def isordered():
  collection = getword()
  collection = collection[16:]
  word = ''

  for word in collection:
    result = 'Word is ordered'
    i = 0
    l = len(word) -1 
    if (len(word) <3 ):
      continue
    while i <1:
      if (ord(word[i]) > ord(word[i+1])):
        result = 'Word is not ordered'
        break
      else:
        i += 1
    if (result == 'Word is ordered'):
      print(word, ':', result)

if __name__ == '__main__':
  print(isordered())
# reference: https://www.geeksforgeeks.org/scraping-and-finding-ordered-words-in-a-dictionary-using-python/

None

In [ ]:
# Python program to find ordered words
import requests

# Scrapes the words from the URL below and stores
# them in a list
def getWords():

	# contains about 2500 words
	url = "http://www.puzzlers.org/pub/wordlists/unixdict.txt"
	fetchData = requests.get(url)

	# extracts the content of the webpage
	wordList = fetchData.content

	# decodes the UTF-8 encoded text and splits the
	# string to turn it into a list of words
	wordList = wordList.decode("utf-8").split()

	return wordList


# function to determine whether a word is ordered or not
def isOrdered():

	# fetching the wordList
	collection = getWords()

	# since the first few of the elements of the
	# dictionary are numbers, getting rid of those
	# numbers by slicing off the first 17 elements
	collection = collection[:100]
	word = ''

	for word in collection:
		result = 'Word is ordered'
		i = 0
		l = len(word) - 1

		if (len(word) < 3): # skips the 1 and 2 lettered strings
			continue

		# traverses through all characters of the word in pairs
		while i < l:		
			if (ord(word[i]) > ord(word[i+1])):
				result = 'Word is not ordered'
				break
			else:
				i += 1

		# only printing the ordered words
		if (result == 'Word is ordered'):
			print(word,': ',result)


# execute isOrdered() function
if __name__ == '__main__':
	isOrdered()

### Q130. Create a list of tuples from the given list having a number and its cube in each tuple.

In [ ]:
list1 = [1, 2, 5, 6]
res = [(val, pow(val, 3)) for val in list1]
print(res)
# reference: https://www.geeksforgeeks.org/python-program-to-create-a-list-of-tuples-from-given-list-having-number-and-its-cube-in-each-tuple/

[(1, 1), (2, 8), (5, 125), (6, 216)]

In [ ]:
# Creating a list
myList = [6, 2, 5 ,1, 4]

# Creating list of tuples 
tupleList = [] 
for val in myList:
    myTuple = (val, (val*val*val))
    tupleList.append(myTuple)

# print the result
print("The list of Tuples is " , str(tupleList))

The list of Tuples is  [(6, 216), (2, 8), (5, 125), (1, 1), (4, 64)]

In [ ]:
# Creating a list
myList = [6, 2, 5 ,1, 4]

# Creating list of tuples 
tupleList = [(val, (val*val*val)) for val in myList]

# print the result
print("The list of Tuples is " , str(tupleList))
# Reference: https://www.includehelp.com/python/create-a-list-of-tuples-from-given-list-having-number-and-its-cube-in-each-tuple.aspx

The list of Tuples is  [(6, 216), (2, 8), (5, 125), (1, 1), (4, 64)]

### Q131. Sort a list of tuples by the second Item

In [ ]:
def sorttuple(tup):
  lst = len(tup)
  for i in range(0, lst):
    for j in range(0, lst-i-1):
      if (tup[j][1] > tup[j+1][1]):
        temp = tup[j]
        tup[j] = tup[j+1]
        tup[j+1] = temp
  return tup

tup =[('for', 24), ('is', 10), ('Geeks', 28), 
      ('Geeksforgeeks', 5), ('portal', 20), ('a', 15)] 
        
print(sorttuple(tup))

[('Geeksforgeeks', 5), ('is', 10), ('a', 15), ('portal', 20), ('for', 24), ('Geeks', 28)]

In [ ]:
def sorttuple(tup):
  tup.sort(key = lambda x:x[1])
  return tup
# Driver Code 
tup = [('rishav', 10), ('akash', 5), ('ram', 20), ('gaurav', 15)] 
  
# printing the sorted list of tuples
print(sorttuple(tup))

[('akash', 5), ('rishav', 10), ('gaurav', 15), ('ram', 20)]

In [ ]:
# Python program to sort a list of
# tuples by the second Item using sorted()

# Function to sort the list by second item of tuple
def Sort_Tuple(tup):

	# reverse = None (Sorts in Ascending order)
	# key is set to sort using second element of
	# sublist lambda has been used
	return(sorted(tup, key = lambda x: x[1]))

# Driver Code
tup = [('rishav', 10), ('akash', 5), ('ram', 20), ('gaurav', 15)]

# printing the sorted list of tuples
print(Sort_Tuple(tup))
# reference: https://www.geeksforgeeks.org/python-program-to-sort-a-list-of-tuples-by-second-item/

[('akash', 5), ('rishav', 10), ('gaurav', 15), ('ram', 20)]

### Q132. Python Program for Insertion Sort.

In [ ]:
def insertionsort(arr):
  for i in range(1, len(arr)):
    key = arr[i]
    j = i-1
    while j>=0 and key< arr[j]:
      arr[j+1] = arr[j]
      j -= 1
    arr[j+1] = key

arr = [12, 11, 13, 5, 6]
insertionsort(arr)
print('Sorted array is: ')
for i in range(len(arr)):
  print('%d' %arr[i])

#reference : https://www.geeksforgeeks.org/python-program-for-insertion-sort/

Sorted array is:
5
6
11
12
13

### Q133. Python Program for SelectionSort.

In [ ]:
import sys 
A = [64, 25, 12, 22, 11]
for i in range(len(A)):
  min_idx = i
  for j in range(i+1, len(A)):
    if A[min_idx] > A[j]:
      min_idx = j
  A[i], A[min_idx] = A[min_idx], A[i]

print('Sorted array')
for i in range(len(A)):
  print('%d' %A[i])

Sorted array
11
12
22
25
64

### Q134. Python Program for Bubble Sort.

In [ ]:
def bubblesort(arr):
  n = len(arr)
  for i in range(n-1):
    for j in range(0, n-i-1):
      if arr[j] > arr[j+1]:
        arr[j] , arr[j+1] = arr[j+1], arr[j]

arr = [64, 34, 25, 12, 22, 11, 90]
bubblesort(arr)
print('Sorted arrey is: ')
for i in range(len(arr)):
  print('%d' %arr[i], end =' ')

Sorted arrey is:
11 12 22 25 34 64 90

In [ ]:
def bubblesort(elements):
# Looping from size of array from last index[-1] to index [0]
 for n in range(len(elements)-1, 0, -1):
	 for i in range(n):
	  if elements[i] > elements[i + 1]:
		# swapping data if the element is less than next element in the array
		  elements[i], elements[i + 1] = elements[i + 1], elements[i]
elements = [39,12,18,85,72,10,2,18]

print("Unsorted list is,")
print( elements)
bubblesort(elements)
print("Sorted Array is, ")
print(elements)
# reference: https://www.geeksforgeeks.org/python-program-for-bubble-sort/

Unsorted list is,
[39, 12, 18, 85, 72, 10, 2, 18]
Sorted Array is,
[2, 10, 12, 18, 18, 39, 72, 85]

### Q135. Python Program for Merge Sort.

In [ ]:
def merge(arr, l, m, r):
	n1 = m - l + 1
	n2 = r - m
	L = [0] * (n1)
	R = [0] * (n2)
	for i in range(0, n1):
		L[i] = arr[l + i]
	for j in range(0, n2):
		R[j] = arr[m + 1 + j]
	i = 0	 # Initial index of first subarray
	j = 0	 # Initial index of second subarray
	k = l	 # Initial index of merged subarray
	while i < n1 and j < n2:
		if L[i] <= R[j]:
			arr[k] = L[i]
			i += 1
		else:
			arr[k] = R[j]
			j += 1
		k += 1
	while i < n1:
		arr[k] = L[i]
		i += 1
		k += 1
	while j < n2:
		arr[k] = R[j]
		j += 1
		k += 1
def mergeSort(arr, l, r):
	if l < r:
		m = l+(r-l)//2
		mergeSort(arr, l, m)
		mergeSort(arr, m+1, r)
		merge(arr, l, m, r)
arr = [12, 11, 13, 5, 6, 7]
n = len(arr)
print("Given array is")
for i in range(n):
	print("%d" % arr[i],end=" ")

mergeSort(arr, 0, n-1)
print("\n\nSorted array is")
for i in range(n):
	print("%d" % arr[i],end=" ")

# This code is contributed by Mohit Kumra
# reference : https://www.geeksforgeeks.org/python-program-for-merge-sort/

Given array is
12 11 13 5 6 7

Sorted array is
5 6 7 11 12 13

### Q136. Python Program for QuickSortSort.

In [ ]:
def partition(arr,low,high):
  i = (low-1)
  pivot = arr[high]
  for j in range(low,high):
    if arr[j] <= pivot:
      i = i+1
      arr[i], arr[j] = arr[j], arr[i]
  arr[i+1], arr[high] = arr[high], arr[i+1]
  return (i+1)

def quicksort(arr,low,high):
  if len(arr) == 1:
    return arr
  if low < high:
    pi = partition(arr, low, high)
    quicksort(arr,low,pi-1)
    quicksort(arr,pi+1,high)

arr = [10, 7, 8, 9, 1, 5]
n = len(arr)
quicksort(arr, 0, n-1)
print('Sorted array is:')
for i in range(n):
  print('%d' %arr[i])

Sorted array is:
1
5
7
8
9
10

## 6) Pattern program using Python (Null 5)

### Q137 - Q1

In [ ]:
def pypart(n):
  for i in range(0,n):
    for j in range(0, i+1):
      print('* ',end = '')
    print('\r')

n = 5
pypart(n)

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Python 3.x code to demonstrate star pattern

# Function to demonstrate printing pattern
def pypart(n):
	myList = []
	for i in range(1,n+1):
		myList.append("* "*i)
	print("\n".join(myList))

# Driver Code
n = 5
pypart(n)
# reference: https://www.geeksforgeeks.org/programs-printing-pyramid-patterns-python/

*
* *
* * *
* * * *
* * * * *

### Q138 - Q2

In [ ]:
def pypart2(n):
  k = 2*n -2
  for i in range(0,n):
    for j in range(0,k):
      print(end = ' ')
    k = k-2
    for j in range(0,i+1):
      print('* ', end = '')
    print('\r')

n = 5
pypart2(n)

        *
      * *
    * * *
  * * * *
* * * * *

### Q139 - Q3

In [ ]:
def tringle(n):
  k = n-1
  for i in range(0,n):
    for j in range(0,k):
      print(end = ' ')
    k = k-1
    for j in range(0,i+1):
      print('* ',end = '')
    print('\r')

n = 5
tringle(n)

    *
   * *
  * * *
 * * * *
* * * * *

### Q140 - Q4

In [ ]:
def nunpat(n):
  num = 1
  for i in range(0,n):
    num = 1
    for j in range(0, i+1):
      print(num, end = ' ')
      num = num + 1
    print('\r')

n = 5
nunpat(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Q141 - Q5

In [ ]:
def countnum(n):
  num = 1
  for i in range(0,n):
    for j in range(0, i+1):
      print(num, end = ' ')
      num = num+1
    print('\r')
n = 5
countnum(5)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

### Q142 - Q6

In [ ]:
def alphabet(n):
  num = 65
  for i in range(0,n):
    for j in range(0, i+1):
      ch = chr(num)
      print(ch, end = ' ')
    num = num + 1
    print('\r')

n = 5
alphabet(n)

A
B B
C C C
D D D D
E E E E E

### Q143 - Q7

In [ ]:
def contalpha(n):
  num = 65
  for i in range(0,n):
    for j in range(0, i+1):
      ch = chr(num)
      print(ch, end = ' ')
      num = num + 1
    print('\r')

n = 5
contalpha(n)
# Reference: https://www.geeksforgeeks.org/programs-printing-pyramid-patterns-python/

A
B C
D E F
G H I J
K L M N O

### Q144 - Q8

In [ ]:
print('The character pattern')
asciivalue = int(input('Enter the asciivalue to print pattern '))
if (asciivalue >= 65 or asciivalue <= 122):
  for i in range(0,5):
    for j in range(0, i+1):
      alphabet = chr(asciivalue)
      print(alphabet, end = ' ')
    print()
else:
  print('Enter the valid character value')
# Reference: https://www.javatpoint.com/how-to-print-pattern-in-python

The character pattern
Enter the asciivalue to print pattern 75
K
K K
K K K
K K K K
K K K K K

### Q145 - Q9

In [ ]:
n = 5
for i in range(1, n+1):
  A = 65
  for j in range(1, i+1):
    print('%c' %(A), end = ' ')
    A += 1
  print()

A
A B
A B C
A B C D
A B C D E

### Q146 - Q10

In [ ]:
str1 = 'Python'
x = ''
for i in str1:
  x += i
  print(x)

P
Py
Pyt
Pyth
Pytho
Python

### Q147 - Q11

In [ ]:
rows = int(input('Input number of rows: '))
k = 0
for i in range(rows, 0, -1):
  k +=1 
  for j in range(1, i+1):
    print(k, end = ' ')
  print()

Input number of rows: 5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

### Q148 - Q12

In [ ]:
rows = int(input('Input number of rows: '))
for i in range(rows, 0, -1):
  n = i
  for j in range(0,i):
    print(n, end = ' ')
  print()

Input number of rows: 6
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

### Q149 - Q13

In [ ]:
rows = 5
for i in range(rows, 0, -1):
  for j in range(0,i+1):
    print(j, end = ' ')
  print('\r')

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

### Q150 - Q14

In [ ]:
current_number = 1
stop = 2
rows = 3
for i in range(rows):
  for j in range(1,stop):
    print(current_number, end = ' ')
    current_number += 1
  print()
  stop += 2

1
2 3 4
5 6 7 8 9

### Q151 - Q15

In [ ]:
rows = int(input('Enter number of rows: '))
for i in range(0, rows+1):
  for j in range(rows-i, 0, -1):
    print(j, end = ' ')
  print()

Enter number of rows: 6
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### Q152 - Q16

In [ ]:
rows = int(input('Enter number of rows: '))
i = 1
while i <= rows:
  j = 1
  while j <= i:
    print((i*2-1), end = ' ')
    j = j + 1
  i = i + 1
  print()

Enter number of rows: 6
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9
11 11 11 11 11 11

### Q153 - Q17

In [ ]:
rows = 6
for i in range(1, rows):
  num = 1
  for j in range(rows, 0, -1):
    if j > i:
      print(' ', end = ' ')
    else:
      print(num, end = ' ')
      num += 1
  print(' ')

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

### Q154 - Q18

In [ ]:
rows = int(input('Enter number of rows :'))
for i in range(1, rows+1):
  for j in range(1, rows+1):
    if j <= i:
      print(i, end= ' ')
    else:
      print(j, end= ' ')
  print()

Enter number of rows :5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

### Q155 - Q19

In [ ]:
rows = int(input('Enter number of rows :'))
for i in range(1, rows):
  for j in range(1, 1+i):
    print(i*j, end = ' ')
  print()

Enter number of rows :8
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

### Q156 - Q20

In [ ]:
rows = 9
for i in range(1, rows):
  for j in range(-1+i, -1, -1):
    print(format(2 ** j, '4d'), end= ' ')
  print(' ')
# reference: https://pynative.com/print-pattern-python-examples/

   1
   2    1
   4    2    1
   8    4    2    1
  16    8    4    2    1
  32   16    8    4    2    1
  64   32   16    8    4    2    1
 128   64   32   16    8    4    2    1

### Q157 - Q21

In [ ]:
rows = 14
print('*' * rows, end='\n')
i = (rows // 2) -1
j = 2
while i !=0:
  while j<= (rows - 2):
    print('*'* i, end=' ')
    print(' '* j, end = ' ')
    print('*'* i, end = '\n')
    i = i -1
    j = j +2

**************
******    ******
*****      *****
****        ****
***          ***
**            **
*              *

### Q158 - Q22

In [ ]:
rows = int(input('Enter the number of rows: '))
for i in range(0, rows):
  for j in range(0, i+1):
    print('*', end = ' ')
  print('')
for i in range(rows+1, 0, -1):
  for j in range(0, i-1):
    print('*', end = ' ')
  print('')

Enter the number of rows: 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### Q159 - Q23

In [ ]:
rows = 6
for i in range(0, rows):
  for j in range(0, i+1):
    print('*', end = ' ')
  print(' ')
print(' ')
for i in range(rows+1,0, -1):
  for j in range(0, i-1):
    print('*', end = ' ')
  print(' ')

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

### Amstrong Number.

In [1]:
# Write Your Code Here
def power(x,y):
  if y == 0:
    return 1
  if y % 2 == 0:
    return power(x, y // 2) * power(x,y // 2)
  return x*power(x,y // 2) * power(x,y // 2)
def order(x):
  n = 0
  while(x != 0):
    n = n+1
    x = x // 10
  return n
def isamstrong(x):
  n = order(x)
  temp = x
  sum1 = 0
  while(temp != 0):
    r = temp % 10
    sum1 = sum1 + power(r,n)
    temp = temp // 10
  return (sum1 == x)

x = 153 
print(isamstrong(x))
x = 225
print(isamstrong(x))
# reference: https://www.geeksforgeeks.org/python-program-to-check-armstrong-number/

True
False

### Fibbonaski series

In [2]:
# Write Your Code Here
def fibbonaski(n):
  if n <= 1:
    return n
  else:
    return(fibbonaski(n-1) + fibbonaski(n-2))

nterms = int(input('How many terms ?'))
if nterms <= 0:
  print('Enter positive number')
else:
  print('Fibonacci Sequence')
  for i in range(nterms):
    print(fibbonaski(i))
# reference: https://www.javatpoint.com/python-display-fibonacci-sequence-recursion

How many terms ?5
Fibonacci Sequence
0
1
1
2
3

### 1. Write a program in Python for, In a array 1-100 multiple numbers are duplicates, How do you find it?

In [3]:
arr, occur = [],[];
n = int(input('Please enter size of the array '))
for x in range(n):
  occur.append(0)
for x in range(n):
  element = int(input(f'Please enter the element of array element between 0 to {n-1}:'))
  arr.append(element)
  occur[arr[x]] = occur[arr[x]] + 1
for x in range(n):
  if occur[x] > 1:
    print(f'{x} is repeated {occur[x]} times')
# reference: https://quescol.com/interview-preparation/find-duplicates-in-an-array-python

Please enter size of the array 5
Please enter the element of array element between 0 to 4:2
Please enter the element of array element between 0 to 4:3
Please enter the element of array element between 0 to 4:1
Please enter the element of array element between 0 to 4:2
Please enter the element of array element between 0 to 4:2
2 is repeated 3 times

### 2. Write a program in Python to remove duplicate elements form array.

In [4]:
# Write Your Code Here
import array
arr,count = [],[]
n = int(input('Enter size of array : '))
for x in range(n):
  count.append(0)
  x = int(input('Enter element of array : '))
  arr.append(x)
print('Array elements after removing duplicates')
for x in range(n):
  count[arr[x]] = count[arr[x]] + 1
  if count[arr[x]] == 1:
    print(arr[x])
#reference: https://quescol.com/interview-preparation/remove-duplicates-from-array-python

Enter size of array : 5
Enter element of array : 4
Enter element of array : 2
Enter element of array : 2
Enter element of array : 3
Enter element of array : 2
Array elements after removing duplicates
4
2
3

### 1. Given a string consisting of whitespace and groups of matched parentheses, write a Python program to split it into groups of perfectly matched parentheses without any whitespace.

In [5]:
# Write Your Code here
def test(combined):
  ls = []
  s2 = ''
  for s in combined.replace(' ', ''):
    s2 += s
    if s2.count('(') == s2.count(')'):
      ls.append(s2)
      s2 = ''
  return ls

combined = '( ()) ((()()())) (()) ()'
print('Paranthesis String')
print(combined)
print("Separate parentheses groups of the said string:")
print(test(combined))
combined = '() (( ( )() (   )) ) ( ())'
print("\nParentheses string:")
print(combined)
print("Separate parentheses groups of the said string:")
print(test(combined))
# reference : https://www.w3resource.com/python-exercises/puzzles/python-programming-puzzles-94.php

Paranthesis String
( ()) ((()()())) (()) ()
Separate parentheses groups of the said string:
['(())', '((()()()))', '(())', '()']

Parentheses string:
() (( ( )() (   )) ) ( ())
Separate parentheses groups of the said string:
['()', '((()()()))', '(())']

### 2. Write a Python program to find the strings in a given list, starting with a given prefix.

In [6]:
# Write Your Code here
def test(strs, prefix):
  return [s for s in strs if s.startswith(prefix)]

strs = ['cat', 'car', 'fear', 'center']
prefix = 'ca'
print('Original Strings:')
print(strs)
print('Starting prefix:', prefix)
print('Strings in the said list starting with a given prefix:')
print(test(strs,prefix))
strs =  ['cat', 'dog', 'shatter', 'donut', 'at', 'todo']
prefix = "do"
print('\nOriginal Strings')
print(strs)
print('Starting prefix:', prefix)
print('Strings in the said list starting with a given prefix:')
print(test(strs,prefix))
# references: https://www.w3resource.com/python-exercises/puzzles/python-programming-puzzles-13.php

Original Strings:
['cat', 'car', 'fear', 'center']
Starting prefix: ca
Strings in the said list starting with a given prefix:
['cat', 'car']

Original Strings
['cat', 'dog', 'shatter', 'donut', 'at', 'todo']
Starting prefix: do
Strings in the said list starting with a given prefix:
['dog', 'donut']

### Monotonic sequences are sequences, which constantly increase or constantly decrease. Write a Python program to determine the direction ('increasing' or 'decreasing') of monotonic sequence numbers.

In [7]:
def test(nums):
  return 'Increasing' if all(nums[i] < nums[i+1] for i in range(len(nums)-1)) else \
         'Decreasing' if all(nums[i+1] < nums[i] for i in range(len(nums)-1)) else \
         'Not a Monotonic sequence'
nums = [1,2,3,4,5,6]
print('Original list:')
print(nums)
print("Check the direction ('increasing' or 'decreasing') of the said list:")
print(test(nums))
nums = [6,5,4,3,2,1]
print("\nOriginal list:")
print(nums)
print("Check the direction ('increasing' or 'decreasing') of the said list:")
print(test(nums))
nums = [19,19,5,5,5,5,5]
print("\nOriginal list:")
print(nums)
print("Check the direction ('increasing' or 'decreasing') of the said list:")
print(test(nums))
# reference: https://www.w3resource.com/python-exercises/puzzles/python-programming-puzzles-20.php

Original list:
[1, 2, 3, 4, 5, 6]
Check the direction ('increasing' or 'decreasing') of the said list:
Increasing

Original list:
[6, 5, 4, 3, 2, 1]
Check the direction ('increasing' or 'decreasing') of the said list:
Decreasing

Original list:
[19, 19, 5, 5, 5, 5, 5]
Check the direction ('increasing' or 'decreasing') of the said list:
Not a Monotonic sequence

### An irregular/uneven matrix, or ragged matrix, is a matrix that has a different number of elements in each row. Ragged matrices are not used in linear algebra, since standard matrix transformations cannot be performed on them, but they are useful as arrays in computing. Write a Python program to find the indices of all occurrences of target in the uneven matrix.

In [8]:
# Write Your Code here.
def test(M,T):
  return [[i,j] for i, row in enumerate(M) for j, n in enumerate(row) if n == T]
M = [[1, 3, 2, 32, 19], [19, 2, 48, 19], [], [9, 35, 4], [3, 19]]
T = 19
print('Matrix')
print(M)
print('Target value')
print(T)
print('Indices of all occurrences of the target value in the said uneven matrix:')
print(test(M,T))
M = [[1, 2, 3, 2], [], [7, 9, 2, 1, 4]]
T = 2
print("\nMatrix:")
print(M)
print("Target value:")
print(T)
print("Indices of all occurrences of the target value in the said uneven matrix:")
print(test(M,T)) 
#reference: https://www.w3resource.com/python-exercises/puzzles/python-programming-puzzles-18.php

Matrix
[[1, 3, 2, 32, 19], [19, 2, 48, 19], [], [9, 35, 4], [3, 19]]
Target value
19
Indices of all occurrences of the target value in the said uneven matrix:
[[0, 4], [1, 0], [1, 3], [4, 1]]

Matrix:
[[1, 2, 3, 2], [], [7, 9, 2, 1, 4]]
Target value:
2
Indices of all occurrences of the target value in the said uneven matrix:
[[0, 1], [0, 3], [2, 2]]

### Write a Python program to create a list whose ith element is the maximum of the first i elements from a input list.

In [9]:
def test(nums):
  return[max(nums [:i]) for i in range (1,len(nums) + 1)]

nums = [0, -1, 3, 8, 5, 9, 8, 14, 2, 4, 3, -10, 10, 17, 41, 22, -4, -4, -15, 0]
print("Original list:")
print(nums)
print("List whose ith element is the maximum of the first i elements of the said list:")
print(test(nums))
nums = [6,5,4,3,2,1]
print("\nOriginal list:")
print(nums)
print("List whose ith element is the maximum of the first i elements of the said list:")
print(test(nums))
nums = [1,19,5,15,5,25,5]
print("\nOriginal list:")
print(nums)
print("List whose ith element is the maximum of the first i elements of the said list:")
print(test(nums))
# references: https://www.w3resource.com/python-exercises/puzzles/python-programming-puzzles-24.php

Original list:
[0, -1, 3, 8, 5, 9, 8, 14, 2, 4, 3, -10, 10, 17, 41, 22, -4, -4, -15, 0]
List whose ith element is the maximum of the first i elements of the said list:
[0, 0, 3, 8, 8, 9, 9, 14, 14, 14, 14, 14, 14, 17, 41, 41, 41, 41, 41, 41]

Original list:
[6, 5, 4, 3, 2, 1]
List whose ith element is the maximum of the first i elements of the said list:
[6, 6, 6, 6, 6, 6]

Original list:
[1, 19, 5, 15, 5, 25, 5]
List whose ith element is the maximum of the first i elements of the said list:
[1, 19, 19, 19, 19, 25, 25]

### Write a Python program to find the coordinates of a triangle with the given side lengths.

In [10]:
# Write Your code here.
def test(sides):
  a,b,c = sorted(sides)
  s = sum(sides) / 2 
  # Area hy hermons rule
  area = (s * (s-a) * (s-b) * (s-c)) ** 0.5 
  y = 2 * area / a
  x = (c ** 2 - y ** 2) ** 0.5
  return ([0.0,0.0], [a,0.0], [x,y])

sides = [3,4,5]
print('sides of the Tringle: ', sides)
print('Co ordinates of the Tringle with the side side lengths:')
print(test(sides))
sides = [5, 6, 7]
print("\nSides of the triangle:",sides)
print("Coordinates of a triangle with the said side lengths:")
print(test(sides))
# reference: https://www.w3resource.com/python-exercises/puzzles/python-programming-puzzles-31.php

sides of the Tringle:  [3, 4, 5]
Co ordinates of the Tringle with the side side lengths:
([0.0, 0.0], [3, 0.0], [3.0, 4.0])

Sides of the triangle: [5, 6, 7]
Coordinates of a triangle with the said side lengths:
([0.0, 0.0], [5, 0.0], [3.8, 5.878775382679628])